<section class="ofisa__half-boxText-section text-center" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">
        <div class="ofisa__postEntry-row ">
            <div class="clearfix ofisa-row mgrl-0 ">
                <div class="edit-two-col">
                    {% for item in layout.left_column %}
                        {% if item.acf_fc_layout == 'left_column' %}
                            <div class="col-sm-6 col-xs-12 cms__oneTwo-col ofisa__oneTwo-col   ofisa__postEntry-row--bordered width-100">
                                <div class="ofisa__col-content">
                                   {# <h5 class="cms__hidden">{{item.title}}</h5>  #}
                                        {{item.content}}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for item in layout.right_column %}
                        {% if item.acf_fc_layout == 'right_column' %}
                            <div class="col-sm-6 col-xs-12 cms__oneTwo-col ofisa__oneTwo-col ofisa__postEntry-row--bordered width-100">
                                <div class="ofisa__col-content">
                                  {#  <h5 class="cms__hidden">{{item.title}}</h5> #}
                                        {{item.content}}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
            </div><!-- /.# Ofisa col/box wrapper row -->
        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- /.#Ofisa container -->
</section>


