<section class="cms__cyan-section ofisa__contactUs-section text-center" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">
        <div class="ofisa__postEntry-row">
            <h2>{{ layout.heading }}</h2>
            <div class="clearfix cms__flexbox-layout ofisa-row">

                <div class="ofisa__flexbox ofisa__oneThird-flexbox ofisa__oneThird-col hidden-xs">
                    <div class="ofisa__col-content">
                        <figure>
                            <img src="{{ layout.image.url }}" alt="" />
                        </figure>
                    </div>
                </div>
                <div class="ofisa__flexbox ofisa__twoThird-flexbox ofisa__twoThird-col">
                    <div class="ofisa__col-content">
                        <h3>{{ layout.title }} <span>{{ layout.sub_title }}</span></h3>
                        <!-- Ofisa contact us section form row -->
                        <div class="cms__form-wrap">
                            {{ function('do_shortcode', layout.contact_form ) }}
                        </div><!-- /.#Ofisa contact us section form row -->
                    </div>
                </div>
            </div><!-- /.# Ofisa col/box wrapper row -->
        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- /.#Ofisa container -->
</section><!-- /.#Ofisa CMS contact form shortcode section -->