<style>
    .ofisa__vertical-accordion .vertical-accordion-panel .vertical-accordion-group{
        display: none;
    }
    @media(max-width: 767px){
        .mobile--group-row .mobile__panelGroup{
            display: none;
        }
    }

</style>

<!-- Ofisa Property Management vertical accordion section -->
<section class="ofisa__verticalAccord-section ofisa__proMgmt-group-section" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">

        <!-- Property Management group list accordion -->
        <div class="ofisa__proMgmt-accordion-row">

            <div class="clearfix ofisa-row">

                <!-- Property Management group list accordion left col -->
                <div class="col-sm-4 hidden-xs ofisa__accordionList-col">
                    <div class="ofisa__vertical-accordion" data-collapse-option="single">


                        {% for item in page_data %}
                            {% set count = loop.index %}
                            <div class="vertical-accordion-panel">

                                <h5><a href="{{ function( 'first_child_permalink', item ) }}" class="vAccor-toggle {% if (pageName==item.main_data.post_name|replace({' ': "-" })|lower)  %} active {% endif %}"
                                       data-panel="vAccor-{{ function('get_first_word', [item.main_title, loop.index]) }}"
                                       data-title="{{item.main_title|replace({' ': "-" })|lower}}">{{item.main_title}}</a></h5>
                                {#              {{ app.request.query }}
                                              {{ app.request.query.get('title') }}#}
                                <ul
                                        class="vAccor-{{ function('get_first_word', [item.main_title, loop.index ]) }} vertical-accordion-group"
                                        style="{% if (pageName==item.main_data.post_name|replace({' ': "-" })|lower) %} display:block; {% endif %}">
                                    {% for item in item.sub_content %}
                                        <li class="vAccor-list-item"><a href="{{ item.sub_permalink }}"
                                                                        class="vAccor-panel-toggle {% if (current_post.ID==item.sub_data.ID) %} active--item {% endif %}"
                                                                        data-block="{{ function('get_first_word', [item.sub_title, loop.index , count]) }}--block"
                                                                        data-subtitle="{{item.sub_title|replace({' ': "-" })|lower}}" >{{item.sub_title}}</a></li>
                                    {% endfor %}

                                </ul>
                            </div>

                        {% endfor %}

                    </div>

                    <script>
                        // Function to make vertical nav sticky
                        var $self = $('.ofisa__accordionList-col'),
                            selfHeight = $self.outerHeight(true),
                            selfOffset = $self.offset().top,
                            $win = $(window),
                            winWidth = $win.width(),
                            $header = $('#masthead'),
                            headerHeight = $('#masthead').outerHeight(true),
                            $accorSec = $('.ofisa__proMgmt-group-section'),
                            $dataParallax = $('section[data-parallax="true"]'),
                            $parallaxNext = $dataParallax.next(),
                            parallaxNextMargin;

                        // Defining variables for window resize
                        var stickyTimer = null,
                            stickyTimerDelay = 300;
                        $win.on('resize', function() {
                            if(stickyTimer !== null) clearTimeout(stickyTimer);
                            stickyTimer = setTimeout(function() {
                                winWidth = $win.width(),
                                    selfOffset = $self.offset().top,
                                    accorSecOffset = $accorSec.offset().top,
                                    accorSecHeight = $accorSec.outerHeight(true),
                                    headerHeight = parseInt($('#masthead').outerHeight(true)),
                                    parallaxNextMargin = 0; //parseInt($parallaxNext.css('margin-top'));
                            }, stickyTimerDelay);
                        });

                        // Fire scroll event on window
                        $win.on('scroll', function() {
                            winScrollTop = $win.scrollTop(),
                                accorSecOffset = $accorSec.offset().top,
                                accorSecHeight = $accorSec.outerHeight(true),
                                headerHeight = parseInt($('#masthead').outerHeight(true)),
                                parallaxNextMargin = 0; //parseInt($parallaxNext.css('margin-top'));
                            if(winScrollTop >= selfOffset + parallaxNextMargin - headerHeight && winScrollTop < accorSecOffset + accorSecHeight + parallaxNextMargin - headerHeight) {
                                $self.addClass('sticky-sidebar sticky-panel')
                                    .css({
                                        'top': headerHeight
                                    });
                            }else {
                                $self.removeClass('sticky-sidebar sticky-panel').removeAttr('style');
                            }
                            if(winScrollTop >= accorSecOffset + accorSecHeight + parallaxNextMargin - headerHeight) {
                                $self.addClass('absolutely-sticky').removeClass('sticky-sidebar sticky-panel').css({'top': accorSecOffset + accorSecHeight + parallaxNextMargin});
                            }else {
                                $self.removeClass('absolutely-sticky');
                            }
                        }).trigger('scroll');
                    </script><!-- /.#Script to make accordion col sticky on window scroll -->

                </div><!-- /.#Property Management group list accordion left col -->

                <!-- Property Management group accrodion relative panel group col -->



                <div class="col-sm-8 col-xs-12 ofisa__panelGroup-col">

                    <div class="ofisa__panelGroup-row">
                        {% for item in page_data %}
                            {% set count = loop.index %}

                            <div class="ofisa__{{ function('get_first_word',  [item.main_title, loop.index] ) }}--group-row mobile--group-row parent-group-row
                            {% if (pageName==item.main_data.post_name|replace({' ': "-" })|lower) %} active-panel {% endif %}

">

                                <h5 class="visible-xs"><a href="{{ item.main_permalink }}"

                                                          class="mbl__toggle  {% if (pageName!=item.main_data.post_name|replace({' ': "-" })|lower) %} inactive {% endif %}" data-panel="mobile__{{ function('get_first_word', [item.main_title, loop.index] ) }}--block">{{  item.main_title }}</a></h5>

                                <div class="mobile__panelGroup mobile__{{ function('get_first_word', [item.main_title, loop.index ] ) }}--block mbl-active-panel"
                                     style="{% if (pageName==item.main_data.post_name|replace({' ': "-" })|lower) %} display:block; {% endif %}"
                                >

                                    {% for subItem in item.sub_content %}
                                        <div
                                                class="ofisa__vAccor-block {{ function('get_first_word', [subItem.sub_title, loop.index , count]) }}--block
                                        {% if (pageName==item.main_data.post_name|replace({' ': "-" })|lower) %} active--block {% endif %}
                                        ">

                                            <h5 class="visible-xs"><a href="{{ subItem.sub_permalink }}"
                                                                      data-title="{{item.main_title|replace({' ': "-" })|lower}}"
                                                                      data-subtitle="{{subItem.sub_title|replace({' ': "-" })|lower}}"
                                                                      class="mbl__inner-toggle {% if (current_post.ID==subItem.sub_data.ID) %} active {% endif %}" data-panel="mobile--panel-block">{{  subItem.sub_title }}</a></h5>

                                            <div class="mobile--sub-block {% if (current_post.ID==subItem.sub_data.ID) %}mobile--panel-block{% endif %} {% if (current_post.ID != subItem.sub_data.ID) %} mobile-inactive-subpanel {% endif %}"
                                                 style="{% if (current_post.ID==subItem.sub_data.ID) %} display:block; {% else %}display:none{% endif %}"
                                            >

{#<div class="vAccor-block-heading">
                                            <h2>{{  subItem.sub_title }}</h2>
                                        </div>#}

                                                <!-- Accordion block CMS content -->
                                                {% if (current_post.ID==subItem.sub_data.ID) %}
                                                <div class="vAccor-block--body">
                                                    {{  current_post.post_content|wpautop|e('wp_kses_post')|apply_filters('the_content') }}
                                                </div><!-- /.#Accordion block CMS content -->
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <!-- Script to show relative block with data-block attributes -->
                    <script>

                        // Creating mobile accordion
                        var $topParent = $('.ofisa__panelGroup-row'),
                            $mobileGroupRow = $('.mobile--group-row'),
                            $mobileToggle = $('.mbl__toggle');
                        $mobileToggle.each(function () {
                            var $__self = $(this);
                            $__self.on('click', function(e) {
                                var $mobileTopTarget = $('.' + $__self.attr('data-panel')),
                                    $mobileGroupRow = $__self.closest('.mobile--group-row');
                                if(!$__self.hasClass('active')) {
                                    $__self.addClass('active').removeClass('inactive');
                                    $mobileGroupRow.addClass('active-panel');
                                    $mobileTopTarget.stop(true).slideToggle(350);
                                    if($('.mbl__toggle.active').length >= 1) {
                                        $mobileGroupRow.siblings().removeClass('active-panel');
                                        $mobileGroupRow.siblings().find('.mobile__panelGroup').stop(true).slideUp(300);
                                        $mobileGroupRow.siblings().find('.mbl__toggle.active').removeClass('active').addClass('inactive');
                                    }
                                    setTimeout(function() {
                                        $('html, body').animate({
                                            scrollTop: $mobileGroupRow.offset().top - (headerHeight)
                                        }, {
                                            duration: 1200,
                                            easing: 'easeInOutExpo'
                                        });
                                    }, 300);



                                }else if($__self.hasClass('active')) {
                                    $__self.addClass('inactive').removeClass('active');
                                    $mobileTopTarget.stop(true).slideToggle(350);
                                    // Trigger the first list of each group
                                }
                                e.preventDefault();
                            });
                        });

                        //active child parent
                        {% if (pageName == '') %}
                        setTimeout(function(){
                            document.querySelector('.vAccor-toggle').click();
                            document.querySelector('.mbl__toggle').click();
                            document.querySelector('.mbl__inner-toggle').click();
                        }, 300);
                        {% endif %}

                    </script><!-- /.#Script to show relative block with data-block attributes -->
                </div>
            </div>
        </div><!-- /.#Property Management group list accordion -->
    </div><!-- Ofisa container -->
</section><!-- /.#Ofisa Property Management vertical accordion section -->