/* Defining style rules for form elements */

form {

  .ofisa__form-group {

    &:not(:last-of-type) {

      @include media(">smart-phone") {
        margin-bottom: 28px;
      }

      @include media("<=smart-phone") {
        margin-bottom: 20px;
      }
    }

    &:before,
    &:after {
      content: "";
      display: table;
      visibility: hidden;
      height: 0;
    }

    &:after {
      clear: both;
    }

    .ofisa__inline-group {
      float: left;

      @include media(">smart-phone") {
        width: 48%;
        &:not(:last-of-type) {
          margin-right: 4%;
        }
      }

      @include media("<=smart-phone") {
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }

    .ofisa__form-control {
      display: block;
      padding: 10px 20px 9px;
      width: 100%;
      border: 0;
      border-radius: 0;
      font-size: 1rem;
      line-height: 0.875rem;
    }
    
    select {
      height: 41px;
      line-height: 1.2;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    /* IE hack to hide select box arrow */

    select::-ms-expand{
      display:none;
    }

    /* textare css */

    textarea.ofisa__form-control {
      padding: 15px 20px 15px;
      min-height: 145px;
      resize: none;
    }

  }
}

/**
Nice select custom plugin scss
*/

.fancy-select {
  -webkit-tap-highlight-color: transparent;
  background-color: $white-color;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  font-weight: normal;
  outline: none;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  height: 41px;

  &.ofisa__form-control {

    form & {
      border: 1px solid $white-color;
      line-height: 1.35;
    }
  }

  @include media("<=smart-phone") {
  }
}
.fancy-select:hover {
  border-color: #dbdbdb;
}
.fancy-select.open {
  border-radius: 0;

  form & {
    border: 1px solid $dark-gray;
  }

  &:before {
    border-bottom: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
    transform: rotate(405deg);
  }
}
.fancy-select.open {

}
.fancy-select.open .fancy-list {
  /* left: -1px;
  width: calc(100% + 2px); */
  margin: 0 0;
}
.fancy-select:after {
  border-bottom: 0px solid #999;
  border-right: 0px solid #999;
  content: '';
  display: block;
  height: 16px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  z-index: 1;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 16px;
}

.fancy-select:before {
  position: absolute;
  top: 50%;
  right: 20px;
  content: '';
  display: block;
  margin-top: -4px;
  width: 7px;
  height: 7px;
  border-bottom: 2px solid $default-color;
  border-right: 2px solid $default-color;
  transform: rotate(45deg);
  transition: all ease-in-out 0.35s
}
.fancy-select.open:after {
  margin-top: -16px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fancy-select.open .fancy-list {
  left: -1px;
  opacity: 1;
  pointer-events: auto;
  padding-bottom: 15px;
  border: 1px solid $dark-gray;
  border-top: 0;
  width: calc(100% + 2px);
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.fancy-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.fancy-select.disabled:after {
  border-color: #cccccc; }
.fancy-select.wide {
  width: 100%; }
.fancy-select.wide .fancy-list {
  left: 0 !important;
  right: 0 !important; }
.fancy-select.right {
  float: right; }
.fancy-select.right .fancy-list {
  left: auto;
  right: 0; }
.fancy-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px; }
.fancy-select.small:after {
  height: 4px;
  width: 4px; }
.fancy-select.small .option {
  line-height: 34px;
  min-height: 34px; }
.fancy-select .fancy-list {
  position: absolute;
  /* border: 1px solid $ash-color; */
  width: calc(100%);
  height: 110px;
  background-color: #ffffff;
  border-radius: 0px;
  box-shadow: 0;
  box-sizing: border-box;
  margin-top: 0px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  top: 94%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 2;

  @include media("<smart-phone") {
    /* overflow-y: auto !important; */
  }

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }
}
.fancy-select .fancy-list:hover .option:not(:hover) {
}
.fancy-select .option {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &:not(:last-of-type) {
    margin-bottom: 3px;
  }
}
.fancy-select .option:hover, .fancy-select .option.focus {
  /* background-color: #f0f0f0; */ }
.fancy-select .option.selected {
  /* pointer-events: none; */
  font-weight: normal; }
.fancy-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default; }

.fancy-select .option.selected.focus  {
  background: #999999;
}

.no-csspointerevents .fancy-select .fancy-list {
  display: none; }

.no-csspointerevents .fancy-select.open .fancy-list {
  display: block; }
.slimescroll-js-row {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  background: #222222;
  border: 1px solid #555555;
}
.open .slimescroll-js-row  {
  pointer-events: auto;
  opacity: 1;
}
.nicescroll-rails {
  border-radius: 5px;
}
.overflow-default {
  overflow: visible !important;
}


.niceSelect-select {
  width: 100%;
}

html select + .fancy-select .current {
  overflow: hidden;
  display: block;
  width: 100%;
  /* max-width: 145px; */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.niceSelect-open {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}
.option {
  padding: 0 0 !important;

  &:before {
    display: none;
  }
}
.option > a {
  display: block;
  padding: 0 20px;
  color: $default-color;

  &:hover {
    color: $primary-color;
  }
}
.option.selected {
  /* background: #999999; */
  > a {
    color: $primary-color;
  }
}

.fancy-select .option.hidden-item {
  display: none;
}
.fancy-select .option.visible {
  display: block;
}