/* Defining style rules for different pages of the theme */

/* Style rules for main wrapper of the theme */

##{$ns} {

  &-wrapper {

    @include media(">ipad") {

      body.#{$ns}-homepage-template & {
        /* padding-top: 122px; */
        /* padding-top: 122px; */
      }

      body.#{$ns}-innerpage-template & {
        padding-top: 92px;
      }
    }

    @include media("<=ipad", ">smart-phone") {
      padding-top: 72px;
    }

    @include media("<=smart-phone") {
      padding-top: 61px;
    }

  }
}

/* Defining style rules for common sections */

[data-section-type="no-default"] {
  color: #ffffff;
}

/* Defining style rules for different section with backgrounds */

.cms__darkBlue-section,
[data-color-type="ofisa__blue"] {
  background: $default-color;
}

.cms__redTheme-section,
[data-color-type="ofisa__red"] {
  background: $primary-color;
}

.cms__lightBlue-section {
  background: $light-blue;
}

.cms__fakeBlack-section,
[data-color-type="ofisa__black"] {
  background: $black-color;
}
.cms__cyan-section {
  background: $cyan-color;
}

/* Defining style rules for about us page filter section */

.#{$ns} {
  &__team-portfolio-section {

    @include media(">laptop") {
      padding: 80px 0 150px;
    }
    @include media("<=laptop", ">ipad") {
      padding: 60px 0px 100px;
    }

    @include media("<=ipad", ">smart-phone") {
      padding: 50px 0px 80px;
    }

    @include media("<=smart-phone") {
      padding: 40px 0px;
    }
  }

  /* Filter row */

  &__team-filter-row {

    overflow: hidden;
    @include media(">smart-phone") {
      margin-top: 57px;
    }

    @include media("<=smart-phone") {
      margin-top: 25px;
    }

    @include media("<=smart-phone") {

      .ofisa__filter-btn-row {
        border: 1px solid $gray-color;
        border-bottom: 0;
        text-align: left;

        #mobile-filter-label {
          position: relative;
          display: block;
          padding: 15px 15px;
          border-bottom: 1px solid $gray-color;
          color: $primary-color;
          text-transform: $uc;
          line-height: 1;
          cursor: pointer;

          &:before {
            position: absolute;
            top: 50%;
            right: 15px;
            content: '';
            display: block;
            margin-top: -7px;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid $primary-color;
            border-right: 2px solid $primary-color;
            transform: rotate(-315deg);
            transition: all linear 0.35s;
          }

          &.opened {
            &:before {
              margin-top: -2px;
              transform: rotate(-135deg);
              //transform: rotate(225deg);
            }
          }
        }
      }
    }
  }

  /* Filter button group */

  &__filter-group-row {
    @include media(">smart-phone") {
      display: block !important;
    }

    @include media("<=smart-phone") {
      display: none;
    }
  }

  &__filter-btn-group {

    @include media(">ipad") {
      margin: 0 -7px;
    }

    @include media("<=ipad", ">smart-phone") {
      margin: 0 -4px;
    }

    @include media(">smart-phone") {
      display: table !important;
      font-size: 0;
    }

    li {

      @include media(">ipad") {
        padding: 0 7px;
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 0 4px;
      }

      @include media(">smart-phone") {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
      }

      a {
        @include media(">ipad") {
          padding: 13px 20px;
        }

        @include media("<=ipad", ">smart-phone") {
          padding: 13px 15px;
        }

        @include media(">smart-phone") {
          display: block;
          background: transparent;
          min-width: inherit;
          font-size: 0.875rem;
          text-transform: $uc;

          &.is-filtered {
            border-color: $primary-color;
            color: $primary-color;
            cursor: default;
          }
        }
        
        @include media("<=smart-phone") {

          display: block;
          padding: 15px 15px;
          background: transparent;
          border: 0;
          border-bottom: 1px solid $gray-color;
          font-size: 1rem;
          text-transform: $caps;

          &:hover {
            border: 0;
            border-bottom: 1px solid $gray-color;
          }

          &.is-filtered {
            color: $primary-color;
          }
        }
      }
    }
  }

/* Filtered cols */

  @-webkit-keyframes slideInRight {
    0% {
      //-webkit-transform: translate3d(100%, 0, 0);
      //transform: translate3d(-100%, 0, 0);
      opacity: 0;
      visibility: visible;
    }

    100% {
      //-webkit-transform: translate3d(0, 0, 0);
      //transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    0% {
      //-webkit-transform: translate3d(100%, 0, 0);
      //transform: translate3d(-100%, 0, 0);
      opacity: 0;
      visibility: visible;
    }

    100% {
      //-webkit-transform: translate3d(0, 0, 0);
      //transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

&__portfolio-filter-row {

  @include media(">smart-phone") {
    margin: 40px 0 0 0;
  }

  @include media("<=smart-phone") {
    margin: 25px 0 0 0;
  }

  .ofisa__filter-col {

      position: relative;
      overflow: hidden;
      padding: 0 0;
      //transition: all linear 0.35s;

      &:after {
        content: '';
        display: block;
        padding-bottom: percentage(287 / 280);
      }

      @include media("<phone") {
        &.ofisa__filteredTitle-col {
          &:after {
            padding-bottom: 70%;
          }
        }
      }

      .ofisa__filter-caption {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        display: block;
        padding: 2.625rem 2.625rem;
        width: 100%;
        transform: translateY(-50%);
        transition: all linear 0.5s;
      }

      &.ofisa__filteredTitle-col {
        .ofisa__filter-caption {
          //padding-right: 3.5rem;
          //padding-left: 3.5em;

          padding-right: 1.5rem;
          padding-left: 1.5em;

          .ofisa__filter-title {
            opacity: 0;
            transition: all linear 1.15s;
            &.animate {
              opacity: 1;
            }
          }
        }

        @include media("<=phone") {
          width: 100%;
        }
      }

      > div:not(.ofisa__filter-caption) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
      }

      &:not(.ofisa__filteredTitle-col) {

        @include media(">smart-phone") {
          text-align: left;
        }

        figure {
          img {
            width: 100%;
          }
        }

        > div {
          &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            z-index: $one-index;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: $primary-color;
            //transform: scale(0);
            transition: all linear 0.35s;
          }
        }

        .ofisa__filter-caption {
          opacity: 0;
          color: $white-color;
          transform: translateY(-50%);
          transition: all linear 0.4s;
        }

        h2 {
          color: $white-color;
        }

        &.hovered-box {

          > div {
            &:before {
              opacity: (0.95);
              transform: scale(1);
            }
          }

          .ofisa__filter-caption {
            z-index: $higher-index;
            opacity: 1;
            transform: translateY(-50%);
          }
        }

        @include media("<=phone") {
          width: 100%;
        }
      }

      &.fadeIn-animated {
        > div:not(.ofisa__filter-caption) {
          opacity: 1;
          -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
          webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
      }

    }
  }
}

h2 {
  .ofisa__filteredTitle-col & {
    margin: 0 0;
    color: $white-color;
    line-height: 1.875rem;
    word-wrap: break-word;
  }
}

/* Property Management page */

.#{$ns} {
  &__proMgmt-group-section {

    @include media(">desktop") {
      padding: 55px 0 140px;
    }

    @include media("<=desktop", ">laptop") {
      padding: 55px 0 100px;
    }

    @include media("<=laptop", ">smart-phone") {
      padding: 55px 0 80px;
    }

    @include media("<=smart-phone") {
      overflow: hidden;
      padding: 40px 0px;
    }

    .vAccor-block-heading {

      @include media(">smart-phone") {
        // amargin-top: -5px;
      }

      h2 {
        margin-bottom: 27px;
        padding-bottom: 15px;
        border-bottom: 1px solid $black-color;
      }
    }

    @include media(">smart-phone") {

      /* Sticky sidebar */

      .ofisa__accordionList-col {
        &.sticky-sidebar {
          position: fixed;
          top: 80px;
          z-index: $higher-index;
          max-width: 402px;
          background: $white-color;
        }

        &.absolutely-sticky {
          position: absolute;
          max-width: 402px;
          background: $white-color;
        }
      }

      .ofisa__panelGroup-col {
        float: right;
        min-height: 500px;
      }

      .ofisa__panelGroup-row {
        max-width: 715px;
        letter-spacing: 0.3px;

        .ofisa__vAccor-block {
          position: absolute;
          top: 0;
          pointer-events: none;
          opacity: 0;
          overflow: hidden;
          background: $white-color;
          height: 100%;
          /* transform: translateY(-20px); */
          transition: all linear 0.35s;

          &.active--block {
            position: relative;
            pointer-events: auto;
            opacity: 1;
            /* transform: translateY(0px); */
          }
        }
      }
    }
  }
}

/* Vertical accordion group */

.#{$ns} {
  &__vertical-accordion {

    @include media(">smart-phone") {
      .vertical-accordion-panel {

        h5 {
          margin: 0;

          > a {
            display: block;
            padding: 16px 0;
            border-bottom: 1px solid $black-color;
            color: $black-color;
            font-weight: $base-font-weight + 200;
            line-height: 1;

            &:hover {
              color: $primary-color;
            }

            &.active {
              border-bottom-color: transparent ;
            }
          }
        }

        &:first-of-type {
          h5 {
            > a {
              border-top: 1px solid $black-color;
            }
          }
        }

        .vertical-accordion-group {
          
          li {
            > a {
              display: block;
              padding: 16px 0 16px 15px;
              border-bottom: 1px solid $black-color;
              color: $default-color;
              font-weight: $base-font-weight + 100;
              line-height: 1;

              &:hover {
                color: $primary-color;
              }

              &.active--item {
                background: $light-blue;
                color: $primary-color;
              }
            }
          }
        }

        &:not(:first-of-type) {

          .vertical-accordion-group {
            display: none;
          }
        }
      }
    }
  }
}

/* Mobile accordion */

@include media("<=smart-phone") {
  .ofisa__panelGroup-row {

    [class*="--group-row"] {
      > h5 {
        margin: 0 -15px 0;
        font-size: 1.25rem;
        font-weight: $base-font-weight - 100;
      }

      .mbl__toggle {
        position: relative;
        display: block;
        padding: 12px 2px;
        padding-right: 30px;
        padding-left: 15px;
        border-bottom: 1px solid $black-color;
        color: $default-color;

        &:before,
        &:after {
          position: absolute;
          top: 50%;
          content: "";
          display: block;
          right: 15px;
          width: 12px;
          height: 2px;
          background: $primary-color;
          margin: 0;
          transition: all ease-in-out 0.35s;
        }

        &:not(.active) {
          &:before {
            transform: rotate(-90deg);
          }
        }
      }

      &:first-of-type {
        .mbl__toggle {
          border-top: 1px solid $black-color;
        }
      }
    }
  }

  .mobile__panelGroup {
    margin: 0 -15px;
    padding: 0px 15px;
    border-bottom: 1px solid $black-color;

    .mobile--group-row:not(:first-of-type) & {
      display: none;
    }
  }

  .mobile--sub-block {

    margin: 0 -15px;
    padding: 15px 30px;

    &:not(.mobile-active-subpanel) {
      display: none;
    }

    .ofisa__vAccor-block:not(:last-of-type) & {
      border-bottom: 1px solid $black-color;
    }

    .ofisa__vAccor-block:last-of-type & {
      border-top: 1px solid $black-color;
    }
  }

  .ofisa__vAccor-block {
    > h5 {
      margin: 0 -15px;
      font-size: 1.15rem;
      font-weight: $base-font-weight - 100;
      line-height: 1;

      > a {
        position: relative;
        display: block;
        padding: 15px 30px;
        background: $light-blue;
        border-bottom: 1px solid $black-color;
        color: $default-color;

        &:before,
        &:after {
          position: absolute;
          top: 50%;
          content: "";
          display: block;
          right: 15px;
          width: 12px;
          height: 2px;
          background: $primary-color;
          margin: 0;
          transition: all ease-in-out 0.35s;
        }

        &:not(.active) {
          &:before {
            transform: rotate(-90deg);
          }
        }
      }
    }

    &:last-of-type {

      a {
        border-bottom: 0;
      }
    }
  }
}

/* Mobile accordion above smartphones */

@include media(">smart-phone") {
  .mobile__panelGroup,
  .mobile--panel-block {
    display: block !important;
  }
}