{% for item in blogs %}
    <div class="{{ function('get_all_category_as_string', item.ID)|print_r }} latest ofisa__filter-cols js-hover-box offisa_ajax">
        {% if(item.post_content) %}
            <div class="ofisa__filter-section-wrap">
                <section class="ofisa__oneThird-textImg-section" data-section-type="default">
                    <div class="ofisa-container ofisa__sub-container">
                        <div class="ofisa__postEntry-row ofisa__postEntry-row--bordered">
                            <div class="clearfix ofisa-row">
                                <div class="col-sm-4 col-xs-12 cms__col ofisa__oneThird-col">
                                    <div class="ofisa__col-content">
                                        <!-- User opts to display image then use this structure -->
                                        {% if(function('get_image_url', item._thumbnail_id)) %}
                                            <figure>
                                                <img src="{{ function('get_image_url', item._thumbnail_id) }}" alt=""/>
                                            </figure>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-sm-8 col-xs-12 cms__col ofisa__twoThird-col">
                                    <div class="ofisa__col-content">
                                        <h3>{{ item.title }}</h3>
                                        {{ item.content }}
                                    </div>
                                </div>
                            </div><!-- /.# Ofisa col/box wrapper row -->
                        </div><!-- /.#Ofisa CMS post entry row -->
                    </div><!-- /.#Ofisa container -->
                </section><!-- /.#Ofisa one third text image shortcode section -->
            </div>
            <div class="csm__space-block cms__tinySpace-block"></div>
        {% endif %}
        {% if(item.get_field('cms_page')) %}
            <div class="ofisa__filter-section-wrap">
                {% for layout in item.get_field('cms_page') %}
                    {% if layout.acf_fc_layout == 'left_text_aligned' %}
                        {% include "template-parts/cms/left_text_aligned.twig" %}
                    {% elseif layout.acf_fc_layout == 'space' %}
                        {% if layout.size == 'small' %}
                            <div class="csm__space-block cms__tinySpace-block"></div>
                        {% elseif layout.size == 'medium' %}
                            <div class="csm__space-block cms__smallSpace-block"></div>
                        {% elseif layout.size == 'large' %}
                            <div class="csm__space-block cms__largeSpace-block"></div>
                        {% endif %}

                    {% elseif layout.acf_fc_layout == '13_image_23_text' %}
                        {% include "template-parts/cms/13_image_23_text.twig" %}
                    {% elseif layout.acf_fc_layout == '12_picture_12_text' %}
                        {% include "template-parts/cms/12_picture_12_text.twig" %}
                    {% elseif layout.acf_fc_layout == '12_text_and__12_text' %}
                        {% include "template-parts/cms/12_text_and__12_text.twig" %}
                    {% elseif layout.acf_fc_layout == 'columns_with_lines' %}
                        {% include "template-parts/cms/columns_with_lines.twig" %}
                    {% elseif layout.acf_fc_layout == 'color_banner' %}
                        {% include "template-parts/cms/color_banner.twig" %}
                    {% elseif layout.acf_fc_layout == 'big_picture' %}
                        {% include "template-parts/cms/big_picture.twig" %}
                    {% elseif layout.acf_fc_layout == 'accordion' %}
                        {% include "template-parts/cms/accordion.twig" %}
                    {% elseif layout.acf_fc_layout == 'left_accordion' %}
                        {% if layout.accordion_type == 'Dedicated Page Accordion' %}
                            {% include "template-parts/cms/pme.twig" %}
                        {% elseif layout.accordion_type == 'Custom' %}
                            {% include "template-parts/cms/left_accordion.twig" %}
                        {% endif %}
                    {% elseif layout.acf_fc_layout == 'left_accordion_new' %}
                        {% include "template-parts/cms/left_accordion_new.twig" %}
                    {% elseif layout.acf_fc_layout == 'testimonials' %}
                        {% include "template-parts/cms/testimonials.twig" %}
                    {% elseif layout.acf_fc_layout == 'contact_form' %}
                        {% include "template-parts/cms/contact_form.twig" %}
                    {% elseif layout.acf_fc_layout == 'google_map' %}
                        {% include "template-parts/cms/google_map.twig" %}
                    {% elseif layout.acf_fc_layout == 'team_grid' %}
                        {% include "template-parts/cms/team_grid.twig" %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="csm__space-block cms__tinySpace-block"></div>
        {% endif %}
    </div>
{% endfor %}
<div class="ofisa-container ofisa__sub-container">
    <div class="offisa__news-pagination">
        {% if posts.pagination.prev %}
            <a href="{{ posts.pagination.prev.link }}" class="prev {{ posts.pagination.prev.link|length ? '' : 'invisible' }}">Prev</a>
        {% endif %}
        <ul class="offisa__pagination_pages">
            {% for page in posts.pagination.pages %}
                <li>
                    {% if page.link %}
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    {% else %}
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if posts.pagination.next %}
            <a href="{{ posts.pagination.next.link }}" class="next {{ posts.pagination.next.link|length ? '' : 'invisible' }}">Next</a>
        {% endif %}
    </div>
</div>
<div class="overlay" style="display: none;"></div>
<div class="loading" style="display:none;">
    <img src="{{ loading }}" title="loading"/>
</div>