{% extends "base.twig" %}
{% block content %}

<style type="text/css">
	.error{
		color:#f1565d;
	}
	.success {
		color:#40ad74;
	}
</style>

<!-- Main wrapper -->
<main id="ofisa-main" class="ofisa-main" role="main">
	<div class="content">
		<section class="block block--invitations cms__cyan-section gap-p-eq">
			<div class="ofisa-container ofisa__sub-container">
				<header class="block__header">
					<h2 class="block__title is-lined">{{ post.get_field('top_heading') }}</h2>
				</header>
				<div class="block__body">
				    {{post.content}}
				    <br>
				    <br>
					<div class="form">
						<form id="invitation-form" class="invitation-form" method="post">
						    <input type="hidden" name="type" value="{{post.get_field('type').slug}}">
							<div class="invitation-form-row">
								{% for item in post.get_field('top_checkbox') %}
								 	<div class="form-group {% if post.get_field('top_checkbox')|length == loop.index %} mb-5{% endif %}">
										<div class="fancy-field-group">
											<input class="fancy-field__control hidden" id="invitationsRadioBox{{loop.index}}" name="title_of_checkbox" type="radio" value="{{item.title_of_checkbox}}" {% if loop.index == 1 %} checked {% endif %}/>
											<label class="fancy-field__label" for="invitationsRadioBox{{loop.index}}">{{item.title_of_checkbox}}</label>
										</div>
									</div>
				                {% endfor %}
								<div class="form-group">
									<div class="form-inline-group">
										<input class="form-control" id="enterprise" name="enterprise" placeholder="Entreprise / Commune" type="text" />
									</div>
									<div class="form-inline-group">
										<input class="form-control"  id="address" name="address" placeholder="Adresse" type="text" />
									</div>
								</div>
								<div class="form-group">
									<div class="form-inline-group">
										<input class="form-control" id="location"  name="location" placeholder="Localité" type="text" />
									</div>
									<div class="form-inline-group">
										<input class="form-control" id="telephone" name="telephone" placeholder="Téléphone" type="tel" />
									</div>
								</div>
							</div>
							<div class="invitation-form-row">
								<div class="invitation-table">
									<div class="invitation-table-inner">
										{# desktop #}
										<div class="invitation-table__header hidden-xs">
											<div class="invitation-table__header-i lg"><span class="text-large">Participants</span></div>
											{% for item in post.get_field('ateliers') %}
											 	<div class="invitation-table__header-i eq js-tab-item {% if loop.index == 1 %} is-active {% endif %}" data-target="js-tab-panel-ateliers{{loop.index}}"><span class="text-large">{{item.title}}</span><span class="text-small time-text">{{item.sub_title}}</span></div>
							                {% endfor %}
										</div>
										{# mobile #}
										<div class="invitation-table-xs__header visible-xs">
											<div class="h2">Inscription</div>
											<div class="xs-dropdown">
												<span class="xs-dropdown-text"><span class="text-large">Ateliers</span><span class="text-small time-text">14h30 - 15h15</span></span>
												<ul class="xs-cat-list">

													{% for item in post.get_field('ateliers') %}
														<li class="js-tab-item {% if loop.index == 1 %} is-active {% endif %}" data-target="js-tab-panel-ateliers{{loop.index}}"><span class="text-large">{{item.title}}</span><span class="text-small time-text">{{item.sub_title}}</span></li>
									                {% endfor %}

												</ul>
											</div>
										</div>
										<div class="invitation-table__body invitation-table__body-2tabs">
											<div id="invitation-table-subheader" class="invitation-table__row mb-0 hidden-xs">
												<div class="invitation-table__col sm">
												</div>
												<div class="invitation-table__col lg ">
													<div class="invitation-table-cat-header is-first" style="position:relative;">
														{% for item in post.get_field('ateliers') %}
																
															<ul class="cat-header-list inline-form-group js-tab-panel  js-tab-panel-ateliers{{loop.index}} {% if loop.index == 1 %} active {% endif %}">
																{% for item in item.ateliers_types %}
																	<li class="fancy-field-group">{{item.ateliers_types_title}}</li>
																{% endfor %}
															</ul>
																	
											            {% endfor %}
											    	</div>
												</div>
											</div>
											<div class="invitation-table__body-inner">
												<div class="invitation-table__row js-participate-block">
													<div class="invitation-table__col sm">
														<div class="invitation-table__col-inner js-participate">
															<div class="xs-row-title h2 mt-0 visible-xs">Participant 1</div>
															<div class="form-group">
																<input class="form-control" name="first_name[]" placeholder="Nom" type="text"  />
															</div>
															<div class="form-group">
																<input class="form-control" name="last_name[]" placeholder="Prenom" type="text" />
															</div>
															<div class="form-group">
																<input class="form-control" name="email_address[]" placeholder="Mail" type="email" />
															</div>
														</div>
													</div>
													<div class="invitation-table__col lg">
														<div class="remove-row-holder"><a href="" role="button" class="remove-row-btn js-remove-row-btn"></a></div>

														<div class="invitation-table-cat-header visible-xs">
															{% for item in post.get_field('ateliers') %}
																<ul class="cat-header-list inline-form-group js-tab-panel  js-tab-panel-ateliers{{loop.index}} {% if loop.index == 1 %} active {% endif %}">
																	{% for item in item.ateliers_types %}
																		<li class="fancy-field-group">{{item.ateliers_types_title}}</li>
																	{% endfor %}
																</ul>
												            {% endfor %}
														</div>

														{% for item in post.get_field('ateliers') %}
															{% set atelier = item.title %}
															{% set sub_title = item.sub_title %}
															<div class="js-tab-panel js-tab-panel-ateliers{{loop.index}} {% if loop.index == 1 %} active {% endif %}">
																<div class="invitation-table__col-inner">
																	<div class="inline-form-group">
																		{% set count = loop.index %}
																		{% for item in item.ateliers_types %}
																			<div class="fancy-field-group">
																				<input class="fancy-field__control hidden" id="{{item.ateliers_types_title}}{{count}}" name="ateliers[{{atelier}}--{{sub_title}}][]" value="{{item.ateliers_types_title}}-{{count}}" type="checkbox" />
																				<label class="fancy-field__label" for="{{item.ateliers_types_title}}{{count}}"></label>
																			</div>
																		{% endfor %}
																	</div>
																</div>
															</div>
											            {% endfor %}
													</div>											
												</div>
											</div>
											<div id="invitation-table__subfooter" class="invitation-table__row">
												<div class="invitation-table__col sm mb-0">
													<div class="form-group text-center">
														<div class="btn-inline-group justify-content-xs-center">
															<a href="" role="button" id="js-clone-invitations-row" class="btn btn-red ofisa__submit-btn">Autre participant</a>
														</div>
													</div>
												</div>
												<div class="invitation-table__col lg hidden-xs"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="invitation-form-row">
								<div class="form-group text-center" id="js-message">
									<div class="btn-inline-group justify-content-center">
										<button role="button" type="submit" class="btn btn-red ofisa__submit-btn">Envoyer</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div><!-- /.Main content ends -->
</main><!-- /.Main wrapper ends -->
<!-- Script to control invitation form -->
<script>
	;(function(w, d, $, undefined) {
		"use strict";

		// == Script to clone row
		var $cloner = $('#js-clone-invitations-row');
		var $tableBody = $('.invitation-table__body-inner');
		var $tableCloningRow = $tableBody.find('.invitation-table__row:last');
		var rowLength = $tableBody.find('.invitation-table__row').length;
		var counter = 1;

		function updateHeaderText() {
			$tableBody.find('.invitation-table__row').each(function(index, val) {
				$(this).find('.xs-row-title').text('Participant ' + parseInt(index + 1));
			});
		}
		function updateClonedItems(__node, rowLength, __parent) {
			$(__node).each(function(index, value) {
				var $self = $(this);
				var attrValue = 'cloned' + rowLength + 'Checkbox' + index;
				var catValue = $self.val();

				$self
				.prop('checked', false)
				.attr('id', attrValue)
				.next().attr('for', attrValue);

				$self.val(catValue + '-' + rowLength);

				// $self.closest(__parent).find('.xs-row-title').text('Participant ' + rowLength);
				updateHeaderText();
				$('.js-remove-row-btn').removeClass('hidden');
			});
		}

		$cloner.on('click', function(e) {
			var $clonedRow = $tableCloningRow.clone();
			// var rowLength = $tableBody.find('.invitation-table__row:not(#invitation-table-subheader)').length;

			$('.invitation-table__row--clonded').removeClass('invitation-table__row--clonded');
			$clonedRow.addClass('invitation-table__row--clonded').appendTo($tableBody);

			var clonedField = $('.invitation-table__row--clonded').find('.fancy-field__control');

			updateClonedItems(clonedField, (rowLength + counter));

			counter++;
			
			// Init placehoder hide seek
			window.placeholderHideSeek($('.form-control'));
			e.preventDefault();
		});

		// == Script to control tab items

		var $xs_dropdown = $('.xs-dropdown');
		var $dropdownToggler = $xs_dropdown.find('.xs-dropdown-text');
		var $xs_submenu = $xs_dropdown.find('.xs-cat-list');
		$dropdownToggler.on('click', function() {
			$(this).toggleClass('opened');
			$xs_submenu.slideToggle(300);
		});

		function formTab(__node) {
			if (__node.length === 0) return;
			__node.each(function() {
				var $self = $(this);
				$self.on('click', function(e) {
					var $target = $('.' + $self.attr('data-target'));
					$self.siblings().removeClass('is-active');
					$self.addClass('is-active');
					$('.js-tab-panel').removeClass('active');
					$target.addClass('active');

					if ($self.closest($xs_submenu).length) {
						$dropdownToggler.html($self.html());
						$dropdownToggler.trigger('click');
					}

					e.preventDefault();
				});
			});
		}

		// == Init formTab($(_node))
		formTab($('.js-tab-item'));

		// == Removing row
		$(document).on('click', '.js-remove-row-btn', function(e) {
			var $self = $(this);
			$self.closest('.invitation-table__row').remove();

			var updatedRowLength = $tableBody.find('.invitation-table__row').length;

			if (updatedRowLength <= 1) {
				$('.js-remove-row-btn').addClass('hidden')
			}

			updateHeaderText();
			e.preventDefault();
		});

	})(window, document, jQuery, undefined);


	$(document).ready(function(){

		$("#invitation-form").submit(function(event){
			event.preventDefault();
			var datas = $(this).serialize();

			console.log(datas);

			$(".error").remove();
			$(".success").remove();
			
			$.ajax({
				url : "{{ site.url }}/wp-admin/admin-ajax.php",
				dataType : "json",
				data : {'datas': datas, 'action':'invitation_submit'},
				type : "post",
				success: function(res){
					if(res.status == 'errors')
					{
						$.each(res.errors, function(k, v){
							
							if(k == 'first_names' || k == 'last_names' || k == 'email_address')
							{
								//console.log($(".invitation-table__row").last().html());
								$(".js-participate-block").last().find('.js-participate').append('<p class="error" style="margin: 0;">'+v+'</p>');
							}
							else
							{
								$("#"+k).after('<p class="error" style="margin: 0;">'+v+'</p>')
							}

						})
					}
					else if(res.status == 'fail')
					{
						$("#js-message").prepend('<p class="error" style="margin: 0;">'+res.msg+'</p>');
					}
					else if(res.status == 'success')
					{
						$("#js-message").prepend('<p class="success" style="margin: 0;">'+res.msg+'</p>');
					}
				} 
			});
		})
	})
</script>
{% endblock %}