{% extends "base.twig" %}
{% block content %}
    {% for layout in post.get_field('cms_page') %}
        {% if layout.acf_fc_layout == 'intro_type_header' %}
            {% include "template-parts/cms/intro_type_header.twig" %}
        {% endif %}
    {% endfor %}
    <section class="cms__cyan-section ofisa__team-portfolio-section text-center" data-section-type="default" data-hover="true">
        <div class="ofisa-container ofisa__sub-container">
            <div class="ofisa__team-filter-row">
                <div class="ofisa__filter-btn-row">
                    <span id="mobile-filter-label" class="visible-xs" data-target="ofisa__filter-group-row">Filter List</span>
                    <div class="ofisa__filter-group-row">
                        <ul class="ofisa__filter-btn-group button-group filters-button-group">
                            <li class="ofisa__filter-items" data-category="all"><a href="" class="btn btn-black ofisa__filter-btn is-filtered" data-category="all"
                                                                                   data-filter=".latest">{{ latest_title }}</a></li>
                            {% set selected = "" %}
                            {% for items in categories %}
                                {% if loop.index == 1 %} {% set selected = items.name %} {% endif %}
                                <li class="ofisa__filter-items" data-category="{{ items.slug }}"><a href=""
                                                                                                    class="btn btn-black ofisa__filter-btn {#{% if loop.index == 1 %}is-filtered {% endif %}#}"
                                                                                                    data-category="{{ items.slug }}"
                                                                                                    data-filter=".{{ items.slug }}">{{ items.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div><!-- /.#Portfolio filter button row -->
            </div>
        </div>

        <!-- Portfolio filter blocks row -->
        <div id="ofisa__portfolio-filter-row" class="ofisa__news-filter-row clearfix" style="margin-top: 40px">

            {% for item in blogs %}
                <div class="{{ function('get_all_category_as_string', item.ID)|print_r }} latest ofisa__filter-cols js-hover-box offisa_ajax">
                    {% if(item.post_content) %}
                        <div class="ofisa__filter-section-wrap">
                            <section class="ofisa__oneThird-textImg-section" data-section-type="default">
                                <div class="ofisa-container ofisa__sub-container">
                                    <div class="ofisa__postEntry-row ofisa__postEntry-row--bordered">
                                        <div class="clearfix ofisa-row">
                                            <div class="col-sm-4 col-xs-12 cms__col ofisa__oneThird-col">
                                                <div class="ofisa__col-content">
                                                    <!-- User opts to display image then use this structure -->
                                                    {% if(function('get_image_url', item._thumbnail_id)) %}
                                                        <figure>
                                                            <img src="{{ function('get_image_url', item._thumbnail_id) }}" alt=""/>
                                                        </figure>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="col-sm-8 col-xs-12 cms__col ofisa__twoThird-col">
                                                <div class="ofisa__col-content">
                                                    <h3>{{ item.title }}</h3>
                                                    {{ item.content }}
                                                </div>
                                            </div>
                                        </div><!-- /.# Ofisa col/box wrapper row -->
                                    </div><!-- /.#Ofisa CMS post entry row -->
                                </div><!-- /.#Ofisa container -->
                            </section><!-- /.#Ofisa one third text image shortcode section -->
                        </div>
                        <div class="csm__space-block cms__tinySpace-block"></div>
                    {% endif %}
                    {% if(item.get_field('cms_page')) %}
                        <div class="ofisa__filter-section-wrap">
                            {% for layout in item.get_field('cms_page') %}
                                {% if layout.acf_fc_layout == 'left_text_aligned' %}
                                    {% include "template-parts/cms/left_text_aligned.twig" %}
                                {% elseif layout.acf_fc_layout == 'space' %}
                                    {% if layout.size == 'small' %}
                                        <div class="csm__space-block cms__tinySpace-block"></div>
                                    {% elseif layout.size == 'medium' %}
                                        <div class="csm__space-block cms__smallSpace-block"></div>
                                    {% elseif layout.size == 'large' %}
                                        <div class="csm__space-block cms__largeSpace-block"></div>
                                    {% endif %}

                                {% elseif layout.acf_fc_layout == '13_image_23_text' %}
                                    {% include "template-parts/cms/13_image_23_text.twig" %}
                                {% elseif layout.acf_fc_layout == '12_picture_12_text' %}
                                    {% include "template-parts/cms/12_picture_12_text.twig" %}
                                {% elseif layout.acf_fc_layout == '12_text_and__12_text' %}
                                    {% include "template-parts/cms/12_text_and__12_text.twig" %}
                                {% elseif layout.acf_fc_layout == 'columns_with_lines' %}
                                    {% include "template-parts/cms/columns_with_lines.twig" %}
                                {% elseif layout.acf_fc_layout == 'color_banner' %}
                                    {% include "template-parts/cms/color_banner.twig" %}
                                {% elseif layout.acf_fc_layout == 'big_picture' %}
                                    {% include "template-parts/cms/big_picture.twig" %}
                                {% elseif layout.acf_fc_layout == 'accordion' %}
                                    {% include "template-parts/cms/accordion.twig" %}
                                {% elseif layout.acf_fc_layout == 'left_accordion' %}
                                    {% if layout.accordion_type == 'Dedicated Page Accordion' %}
                                        {% include "template-parts/cms/pme.twig" %}
                                    {% elseif layout.accordion_type == 'Custom' %}
                                        {% include "template-parts/cms/left_accordion.twig" %}
                                    {% endif %}
                                {% elseif layout.acf_fc_layout == 'left_accordion_new' %}
                                    {% include "template-parts/cms/left_accordion_new.twig" %}
                                {% elseif layout.acf_fc_layout == 'testimonials' %}
                                    {% include "template-parts/cms/testimonials.twig" %}
                                {% elseif layout.acf_fc_layout == 'contact_form' %}
                                    {% include "template-parts/cms/contact_form.twig" %}
                                {% elseif layout.acf_fc_layout == 'google_map' %}
                                    {% include "template-parts/cms/google_map.twig" %}
                                {% elseif layout.acf_fc_layout == 'team_grid' %}
                                    {% include "template-parts/cms/team_grid.twig" %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="csm__space-block cms__tinySpace-block"></div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="ofisa-container ofisa__sub-container">
                <div class="offisa__news-pagination">
                    {% if posts.pagination.prev %}
                        <a href="{{ posts.pagination.prev.link }}" class="prev {{ posts.pagination.prev.link|length ? '' : 'invisible' }}">Prev</a>
                    {% endif %}
                    <ul class="offisa__pagination_pages">
                        {% for page in posts.pagination.pages %}
                            <li>
                                {% if page.link %}
                                    <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                                {% else %}
                                    <span class="{{ page.class }}">{{ page.title }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if posts.pagination.next %}
                        <a href="{{ posts.pagination.next.link }}" class="next {{ posts.pagination.next.link|length ? '' : 'invisible' }}">Next</a>
                    {% endif %}
                </div>
            </div>
            <div class="overlay" style="display: none;"></div>
            <div class="loading" style="display:none;">
                <img src="{{ loading }}" title="loading"/>
            </div>

        </div><!-- /.#Portfolio filter blocks row -->
        <style>
            .offisa__news-pagination ul, .offisa__news-pagination ul li {
                display: inline-block;
            }
            div#ofisa__portfolio-filter-row {
                position: relative;
            }
            .overlay{
                background: rgba(255, 255, 255, 0.52);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 1;
            }
            .loading {
                display: block;
                position: absolute;
                top: 30%;
                width: 100px;
                left: 45%;
                z-index: 2;
            }
        </style>

        <script>
            // Function to add animation on about us portfolio cols on window scroll
            /*function revealOnscreen($elem) {
                if ($elem.length === 0) return;
                $elem.each(function (index, el) {
                    var $self = $(this);
                    if (isScrolledIntoView($self)) {
                        $self.addClass('fadeIn-animated');
                        var animatedLen = $('.fadeIn-animated').length;
                        var animateDelay = 1 + (animatedLen * 0.20);
                        $self.find('>div').css({
                            '-webkit-animation-delay': animateDelay + 's',
                            '-moz-animation-delay': animateDelay + 's',
                            'animation-delay': animateDelay + 's'
                        });
                    }
                    $(window).on('scroll', function () {
                        if (!$self.hasClass('fadeIn-animated') && $self.is(':visible')) {
                            if (isScrolledIntoView($self)) {
                                $self.addClass('fadeIn-animated');
                                var animatedLen = $('.fadeIn-animated').length;
                                var animateDelay = 1 + (animatedLen * 0.20);
                                $self.find('>div').css({
                                    '-webkit-animation-delay': animateDelay + 's',
                                    '-moz-animation-delay': animateDelay + 's',
                                    'animation-delay': animateDelay + 's'
                                });
                            }
                        }
                    });//.trigger('scroll');
                });
            }

            // Caching DOM elements into juery objects
            var $grid = $('#ofisa__portfolio-filter-row'),
                $gridCol = $grid.find('.ofisa__filter-cols:not(.ofisa__filteredTitle-col)'),
                $categoryTitle = $('.ofisa__filter-title'),
                $isPrefiltered = $('.ofisa__filter-btn.is-filtered'),
                prefilteredData = $isPrefiltered.data('filter'),
                $elem = $('#mobile-filter-label');

            $gridCol.removeClass('filtered-col fadeIn-animated').hide();

            $gridCol.filter(function () {
                return $(this).is(prefilteredData);
            }).addClass('filtered-col').show();

            // Updating selected category name in mobile filter list
            $elem.text($isPrefiltered.text());

            // Init revealOnscreen
            revealOnscreen($('#ofisa__portfolio-filter-row .ofisa__filter-cols.filtered-col'));

            // Building filter in team portfolio section
            // Bind filter button click
            $('.ofisa__filter-btn-group').on('click', '.ofisa__filter-btn', function (e) {
                var filterValue = $(this).attr('data-filter'),
                    filterText = $(this).text();
                setTimeout(function () {
                    // Filtering items with data filter value of each category button
                    $gridCol.removeClass('filtered-col fadeIn-animated').hide();
                    $gridCol.filter(function () {
                        return $(this).is(filterValue);
                    }).addClass('filtered-col').show();
                    // Init revealOnscreen
                    revealOnscreen($('#ofisa__portfolio-filter-row .ofisa__filter-cols.filtered-col'));
                    $('#ofisa__portfolio-filter-row .ofisa__filter-cols:not(.filtered-col)').removeClass('fadeIn-animated');
                }, 400);
                if (!$(this).hasClass('is-filtered')) {
                    // Updating the text of selected category text holder
                    $categoryTitle.removeClass('animate');
                    setTimeout(function () {
                        $categoryTitle.text(filterText);
                        $categoryTitle.addClass('animate');
                    }, 1200);
                }
                e.preventDefault();
            });
            // change is-filtered class on buttons
            $('.ofisa__filter-btn-group').each(function (i, buttonGroup) {
                var $buttonGroup = $(buttonGroup);
                $buttonGroup.on('click', '.ofisa__filter-btn', function (e) {
                    $buttonGroup.find('.is-filtered').removeClass('is-filtered');
                    $(this).addClass('is-filtered');
                    e.preventDefault();
                });
            });*/

            $('body').addClass('ofisa-innerpage-template');

        </script><!-- /.#Initializing isotope to layout the col and build filter -->

        <!-- Mobile filter toggle function -->
        <script>

            /*// Caching DOM elements into juery objects
            var dataTarget = $elem.data('target'),
                $target = $('.' + $elem.attr('data-target')),
                $filterBtn = $target.find('.ofisa__filter-btn');

            // Attaching click event on $elem
            $elem.on('click', function () {
                if (!$elem.hasClass('opened')) {
                    $elem.addClass('opened').removeClass('closed');
                    $target.stop(true).slideToggle(400);
                } else if ($elem.hasClass('opened')) {
                    $elem.addClass('closed').removeClass('opened');
                    $target.stop(true).slideToggle(400);
                }
            });

            // Updating $elem text value
            $filterBtn.each(function () {
                var $self = $(this),
                    selfText = $self.text();
                $self.on('click', function (e) {
                    $elem.text(selfText);
                    $elem.addClass('closed').removeClass('opened');
                    if ($(window).innerWidth() <= 767 - 17) {
                        $target.stop(true).slideToggle(300);
                    }
                    // Preventing default behavior of 'a' element
                    e.preventDefault();
                });
            });*/
            $(document).ready(function () {
                $('.ofisa__filter-items a').click(function (e) {
                    $('.loading').show();
                    $('.overlay').show();
                    e.preventDefault();
                    $('.ofisa__filter-items a').removeClass('is-filtered');
                    $(this).addClass('is-filtered');
                    var category = $(this).data('category');
                    var formData = {
                        'action': 'filter_category_data',
                        'category_slug': category
                    };
                    jQuery.ajax({
                        type: "post",
                        url: "{{ ajax_url }}",
                        data: formData,
                        success: function (resp) {
                            $('.loading').hide();
                            $('.overlay').hide();
                            $('#ofisa__portfolio-filter-row').html(resp);
                            //console.log(resp);
                        }
                    });
                    /*if ($(this).children('a[data-filter=".latest"]').length != 0) {
                        $('.offisa__news-pagination').show();
                    }else{
                        $('.offisa__news-pagination').hide();
                    }*/
                });
                pagination();
            });

            function pagination() {
                jQuery(function ($) {
                    $('body').on('click', '.offisa__news-pagination a', function (e) {
                        var link = $(this).attr('href');
                        var array_link = link.split('admin-ajax.php/');
                        if (array_link.length > 1) {
                            e.preventDefault();
                            $('.loading').show();
                            $('.overlay').show();
                            var paged = array_link[1];
                            paged = paged.split('/');
                            paged = paged[1];
                            $('.offisa_ajax').animate({opacity: 0.4}, 500, function () {
                                var category = $('.is-filtered').data('category');
                                var formData = {
                                    'action': 'filter_category_data',
                                    'category_slug': category,
                                    'paged': paged
                                };
                                console.log(formData);
                                jQuery.ajax({
                                    type: "post",
                                    url: "{{ ajax_url }}",
                                    data: formData,
                                    success: function (resp) {
                                        $('#ofisa__portfolio-filter-row').html(resp);
                                    }
                                });
                                $(this).load(link + ' .offisa_ajax', function () {
                                    $('.loading').hide();
                                    $('.overlay').hide();
                                    $(this).animate({opacity: 1}, 200);
                                });
                            });
                        }
                    });
                });
            }
        </script><!-- /.#Mobile filter toggle function --><!-- /.#Mobile filter toggle function -->

    </section><!-- /.#Ofisa About us page team filter portfolio section -->
{% endblock %}