@media (max-width: 1024px){
    .ofisa__half-boxText-section .ofisa-row.mgrl-0{
        margin-right: 0;
        margin-left: 0;
    }

}

@media (min-width: 768px){
    .ofisa__half-boxText-section .ofisa-row>[class*="col-"] {

        padding:30px;
    }
    .ofisa__half-boxText-section .ofisa-row.mgrl-0{
        margin-right: 0;
        margin-left:0;
    }
    .edit-two-col{

        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(2,1fr);
    }
    .width-100{
        width:  100%;
    }
}

