

.btn-black{
    color: #464c53;
}

.btn-black:hover{
    background: #464c53;
    color: #ffffff;
}


.ofisa__filter-btn-group li a.is-filtered{
    pointer-events: none;
}

.page-number, .offisa__news-pagination .next, .offisa__news-pagination .prev{
    border: 1px solid #464c53;
    padding: 7px 14px;
    color: #464c53;
    display: inline-block;
    background: transparent;
    min-width: inherit;
    font-size: 0.875rem;
    margin: 0 5px 10px;
    border-radius: 3px;
}

.page-number:hover, .offisa__news-pagination .next:hover, .offisa__news-pagination .prev:hover{
    background: #464c53;
    color: #ffffff;
}

.page-number.current{
    border-color: #f1565d;
    color: #f1565d;
    cursor: default;
    pointer-events: none;

}

