/*
** @vertical accordion module
*/

.vertical-accordion-panel {
	 .vertical-accordion-group {
		.vertical-accordion-group {
			display: none;			
		}

		> li > .vertical-accordion-group {
			@include media(">smart-phone") {
				li {
					> a {
						padding-left: 25px;
					}
				}
			}			
		}

		li > .vertical-accordion-group > li > .vertical-accordion-group {
			@include media(">smart-phone") {
				li {
					> a {
						padding-left: 35px;
					}
				}
			}				
		}
	}

	.vertical-accordion-group {
		> li {
			> a.active {
				color: $primary-color;
			}
		}
	}
}

.mobile__panelGroup {

}