/* Defining style rules for CMS blocks/sections of the theme */

/* Defining style rules for two half section */

.cms__flexbox-layout {

  @include media(">smart-phone") {
    display: flex;
    display: -webkit-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: row;

    .ofisa__flexbox {
      display: flex;
      display: -webkit-box;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    }
  }
}

.#{$ns} {

  &__twoHalf-section {

    .cms__flexbox-layout {

      .ofisa__flexbox {

        @include media(">smart-phone") {
          flex: 1 1 auto;
          width: 50%;
          justify-content: flex-start;
          align-items: center;
        }

        &[data-col-type="text"] {

          @include media(">desktop") {
            padding: 120px 115px;
          }

          @include media("<=desktop", ">laptop") {
            padding: 80px 75px;
          }

          @include media("<=laptop", ">ipad") {
            padding: 65px 45px;
          }

          @include media("<=ipad", ">smart-phone") {
            padding: 50px 35px;
          }

          @include media("<=smart-phone") {
            padding: 30px 15px;
          }

        }

        .ofisa_text-container {
          margin: 0 0;

          @include media(">smart-phone") {
            max-width: 435px;
          }
        }

        &[data-col-type="image"] {
          background: url(#{$img-path}one-half-img01.jpg) no-repeat;

          @include media("<=smart-phone") {
            padding-bottom: percentage(600/900);
          }
        }

        h4 {
          margin-bottom: 45px;
          font-weight: $base-font-weight - 100;
          line-height: 2.188rem;
        }

        p,
        h4 {
          + a {
            /* margin-top: 30px; */
          }
        }

        h4 {
          + a {
             margin-top: 30px;
          }
        }
      }
    }
  }
}

/* Style rules for accordion UI */

.#{$ns} {

  &__accordion {

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      > a {
        position: relative;
        display: block;
        border-top: 1px solid $black-color;
        color: $default-color;

        @include media(">smart-phone") {
          padding: 16px 2px;
        }

        @include media("<=smart-phone") {
          padding: 12px 2px;
        }


        &:hover {

          body:not(.gadget-detected) & {
            color: $primary-color;
          }
        }

        &:before,
        &:after {
          position: absolute;
          top: 50%;
          content: "";
          display: block;
          background: $primary-color;
          margin: 0;
          transition: all ease-in-out 0.35s;

          @include media(">smart-phone") {
            right: 2px;
            width: 18px;
            height: 2px;
          }

          @include media("<=smart-phone") {
            right: 15px;
            width: 12px;
            height: 2px;
          }
        }

        &.opener:after {
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }

      }
    }

    .ofisa__accordion-panel {

      &.active-panel {
        h2 {
          > a {
            /* color: $primary-color; */
          }
        }
        &:last-of-type {
          h2 {
            > a {
              border-bottom: 0;
            }
          }
        }
      }

      &:last-of-type {
        h2 {
          > a {
            border-bottom: 1px solid $black-color;
          }
        }
      }
    }

    h3 {
      /* margin-bottom: 28px; */
      color: $black-color;
    }

    p {

      @include media(">smart-phone") {
        margin-bottom: 28px;
      }

      @include media("<=smart-phone") {
        margin-bottom: 15px;
      }
    }

    ul {

      @include media(">smart-phone") {
        margin: 28px 0 58px;
      }

      @include media("<=smart-phone") {
        margin: 15px 0 30px;
      }

      li {
        position: relative;
        padding-left: 30px;
        line-height: 1.625em;

        @include media("<=smart-phone") {
          margin-bottom: 5px;
        }

        &:before {
          position: absolute;
          top: 11px;
          right: auto;
          bottom: auto;
          left: 0;
          content: "";
          display: block;
          width: 0px;
          height: 0px;
          border: 2px solid;
          border-radius: 50%;
        }
      }
    }
  }

  /* style rules for accordion panel body */

  &__accordion-panelBody {
    &:not(.active) {
      display: none;
    }

    @include media(">smart-phone") {
      padding: 22px 0 36px;
    }

    @include media("<=smart-phone") {
      padding: 20px 15px 25px;
    }

  }

  &__accordion-panel {

    &:last-of-type {
      .ofisa__accordion-panelBody {
        padding-bottom: 0 !important;
      }
    }
  }

  &__accordion {

    @include media("<=smart-phone") {
      margin: 0 -15px;

      h2 {
        >a {
          padding-right: 30px;
          padding-left: 15px;
        }
      }
    }
  }
}

/* Defining style rules for space shortcodes */

[class*=__space] {

  width: 100%;

  @include media(">laptop") {

    &.cms__tinySpace-block {
      padding: 29px 0 29px;
    }

    &.cms__smallSpace-block {
      padding: 39px 0 39px;
    }

    &.cms__largeSpace-block {
      padding: 70px 0 70px;
    }
  }

  @include media("<=laptop", ">ipad") {
    &.cms__tinySpace-block {
      padding: 20px 0;
    }

    &.cms__smallSpace-block {
      padding: 30px 0;
    }

    &.cms__largeSpace-block {
      padding: 50px 0;
    }
  }

  @include media("<=ipad", ">smart-phone") {

    &.cms__tinySpace-block {
      padding: 20px 0;
    }

    &.cms__smallSpace-block {
      padding: 25px 0;
    }

    &.cms__largeSpace-block {
      padding: 35px 0;
    }
  }

  @include media("<=smart-phone") {

    &.cms__tinySpace-block {
      padding: 20px 0;
    }

    &.cms__smallSpace-block {
      padding: 20px 0;
    }

    &.cms__largeSpace-block {
      padding: 25px 0;
    }
  }
}

/* style rules for 1/3 half columns/boxes */

.cms__boxText-section {

  @include media(">laptop") {
    padding: 116px 0px 116px;
  }

  @include media("<=laptop", ">ipad") {
    padding: 86px 0px;
  }

  @include media("<=ipad", ">smart-phone") {
    padding: 56px 0px;
  }

  @include media("<=smart-phone") {
    padding: 36px 0px;
  }

  .#{$ns} {

    &__oneThird-col {

      @include media(">smart-phone") {
        text-align: left;
      }

      > div {
        position: relative;

        @include media(">smart-phone") {
          padding-top: 26px;

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            background: $primary-color;
            width: 60px;
            height: 1px;
          }
        }

        @include media("<=smart-phone") {
          padding-top: 15px;

          &:before {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            content: "";
            display: block;
            margin: 0 auto;
            background: $primary-color;
            width: 100%;
            max-width: 100px;
            height: 1px;
          }
        }
      }
    }

  }
}

/* style rules for one half cols */

.ofisa__half-boxText-section {

  .ofisa__oneTwo-col {

    @include media(">smart-phone") {
      text-align: left;
    }
  }
}

/* style rules for jumbo banner section */

.#{$ns} {
  &__jumboBanner-section {

    @include media(">laptop") {
      padding: 70px 0px;
    }

    @include media("<=laptop", ">ipad") {
      padding: 60px 0px;
    }

    @include media("<=ipad", ">smart-phone") {
      padding: 50px 0px;
    }

    @include media("<=smart-phone") {
      padding: 40px 0px;
    }
  }
}

/* style rules for one third image text section */

.#{$ns} {
  &__oneThird-textImg-section {

    .cms__col {

      @include media(">smart-phone") {
        text-align: left;

        h3 {
          // margin-top: -8px;
        }
      }

      figure {
        position: relative;

        /* &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          background: url(#{$img-path}play-icon.png) no-repeat;
          transform: translateX(-50%) translateY(-50%);
        } */
      }
    }
  }
}

/* style rules for testimonial slider section */

.#{$ns} {

  &__testimonail-section {

    position: relative;
    z-index: $higher-index;

    @include media(">laptop") {
      padding: 80px 0 85px;

      .ofisa__testiSlider-row {
        margin-top: 48px;
      }
    }

    @include media("<=laptop", ">ipad") {
      padding: 60px 0px;
    }

    @include media("<=ipad", ">smart-phone") {
      padding: 50px 0px;
    }

    @include media(">smart-phone") {
      .ofisa__testiSlider-row {
        text-align: left;
      }
    }

    @include media("<=smart-phone") {
      padding: 40px 0px;
    }

    .testiSlider__bioData-row {
      display: table;
      margin: 0 -12px;
      width: 100%;
      /* font-size: 0; */

      > [class*=testiSlider-col] {
        padding: 0 12px;

        @include media("<=smart-phone") {
          display: block;
          width: 100%;
        }
      }
    }

    h3 {
      margin-bottom: 0;
      line-height: 0.875rem;

      &:first-of-type {
        margin-bottom: 6px;
      }
    }

    .testSlider-bodyRow {
      margin: 25px 0 53px;

      @include media("<=smart-phone") {
        display: none;
      }
    }

    .testiSlider__buttons-row {
      margin-top: 53px;
    }

    .testiSlider__button-group {

      display: table;
      width: 100%;

      li {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-of-type) {
          margin-right: 21px;
        }
      }
    }

    /* style rules for testimonails slider slides */

    .testiSlider__swiper {
      .ofisa__slider-slide {

        @include media(">desktop") {
          padding: 0 217px;
        }

        @include media("<=desktop", ">laptop") {
          padding: 0 150px;
        }

        @include media("<=laptop", ">ipad") {
          padding: 0px 120px;
        }

        @include media("<=ipad", ">smart-phone") {
          padding: 0px 90px;
        }

        @include media("<=smart-phone") {
          padding: 0px 15px 35px;
        }
      }

      .ofisa__slider-btn {

        border: 1px solid $white-color;
        border-radius: 3px;
        transition: width ease-in-out 0.5s, all ease-in-out 0.3s;

        @include media(">laptop") {
          width: 50px;
          height: 50px;
        }

        @include media("<=laptop", ">ipad") {
          width: 45px;
          height: 45px;
        }

        @include media("<=ipad", ">smart-phone") {
          width: 40px;
          height: 40px;
        }

        @include media(">smart-phone") {
          margin-top: -60px;
          margin-top: -60px;
        }

        @include media("<=smart-phone") {
          display: none;
        }

        &:before {
          position: absolute;
          top: 50%;
          right: 50%;
          content: '';
          display: block;
          margin-top: -4px;
          margin-right: -4px;
          width: 8px;
          height: 8px;
          border-bottom: 2px solid $white-color;
          border-right: 2px solid $white-color;
          transform: rotate(-45deg);
          transition: all ease-in-out 0.35s;
        }

        &.swiper-button-prev {
          left: 0;

          &:before {
            transform: rotate(-225deg);
          }
        }
        &.swiper-button-next {
          right: 1px;
        }

        &:hover {
          opacity: 0.4;
        }
      }

      /* Defining style rules for slider pagination on smartphone screens */

      .ofisa__slider-pagination {
        bottom: -5px;
        @include media("<=smart-phone") {
          .swiper-pagination-bullet {
            width: 13px;
            height: 13px;
            background: $white-color;
          }
          .swiper-pagination-bullet-active {
            background: $primary-color;
          }
        }
      }
    }
  }
}

/* style rules for google map section */

.#{$ns} {
  &__gmap-section {

    .ofisa__sub-container {
      padding: 0 0 !important;
      max-width: 100%;
    }

    .ofisa__gmap-wrapper {
      position: relative;

      .map_icon {
        position: absolute;
        top: -12%;
        left: 50%;
        z-index: $zero-index;
        display: block;
        background: url(#{$img-path}gmap-pin.png) no-repeat;
        background: {
          size: 100%;
        };
        transform: translate(-50%, -50%);
        transition: all linear 0.35s;

        @include media(">desktop") {
          margin: 17px 0 0 -5px;
          width: 59px;
          height: 75px;
        }

        @include media("<=desktop", ">laptop") {
           margin: 12px 0 0 -5px;
           width: 50px;
           height: 64px;
        }

        @include media("<=laptop", ">ipad") {
          width: 45px;
          height: 51px;
        }

        @include media("<=ipad", ">smart-phone") {
          width: 35px;
          height: 45px;
        }

        @include media("<=smart-phone") {
          width: 25px;
          height: 32px;
        }
      }

      .gmap__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $zero-index + 1;
        display: block;
        width: 100%;
        height: 100%;
      }

      @include media("<=smart-phone") {
        > img {
          position: relative;
          left: 50%;
          width: auto;
          max-width: none;
          max-height: none;
          height: 250px;
          transform: translateX(-50%);
        }
      }

    }
  }
}

.map_icon {
  .animate__top & {
    top: 50% !important;
  }
}

/* style rules for contact us section */
/* style rules for contact us section */

.#{$ns} {
  &__contactUs-section {
    position: relative;
    z-index: 2;

    @include media(">laptop") {
      padding: 80px 0 89px;
    }

    @include media("<=laptop", ">ipad") {
      padding: 60px 0px;
    }

    @include media("<=ipad", ">smart-phone") {
      padding: 50px 0px;
    }

    @include media("<=smart-phone") {
      padding: 40px 0px;
    }

    @include media(">smart-phone") {
      .ofisa__twoThird-col {
        text-align: left;
      }
    }

    .ofisa__oneThird-col {
      figure {
        img {
          border-radius: 50%;
        }
      }
    }

    .ofisa__oneThird-flexbox {

      @include media(">smart-phone") {
        flex: 1 1 auto;
        justify-content: flex-start;
        align-items: center;
        width: 33.3333333%;
      }
    }

    .ofisa__twoThird-flexbox {

      @include media(">smart-phone") {
        flex: 1 1 auto;
        width: 66.6666666%;
      }

      > .ofisa__col-content {
        position: relative;
        width: 100%;

        padding-top: 19px;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          display: block;
          background: $primary-color;
          width: 60px;
          height: 1px;

          @include media("<=smart-phone") {
            right: 0;
            margin: 0 auto;
            width: 100px;
          }

        }
      }

      h3 {
        margin-bottom: 22px;
      }
    }

  }
}

/* Defining style rules for home page three cols/boxes */

.#{$ns} {

  &__threeBox-section {

    @include media(">smart-phone") {
      position: relative;
      z-index: $one-index;
      margin-top: -5%;
    }

    @include media("<=smart-phone") {
      margin: 0 -15px;
      /* padding-top: 35px; */
      text-align: center;
    }
  }

  &__flexbox-wrapper {
      .ofisa__threeThird-flexbox {
        @include media(">desktop") {
          padding: 50px 45px 150px;

          /* Scss for button */
          .btn {
            position: absolute;
            bottom: 45px;
            left: 45px;
            z-index: $one-index;
            margin-top: 30px;
          }

          .hovered__img {
            height: 100%;
          }
        }

        @include media("<=desktop", ">laptop") {
          padding: 40px 40px 130px;

          .btn {
            position: absolute;
            bottom: 40px;
            left: 40px;
            z-index: $one-index;
            margin-top: 25px;
          }

          .hovered__img {
            height: 100%;
          }
        }

        @include media("<=laptop", ">ipad") {
          padding: 35px 35px 120px;

          .btn {
            position: absolute;
            bottom: 35px;
            left: 35px;
            z-index: $one-index;
            margin-top: 25px;
          }

          .hovered__img {
            height: 110%;
          }
        }

        @include media("<=ipad", ">smart-phone") {
          padding: 30px 25px 110px;

          .btn {
            position: absolute;
            bottom: 35px;
            left: 25px;
            z-index: $one-index;
            margin-top: 20px;
          }

          .hovered__img {
            display: none;
          }
        }

        @include media(">ipad") {
          //transform: scale(1.0);

          &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: $one-index;
            opacity: 1;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            transition: all linear 0.35s;
          }

          /* Hovered image */

          .hovered__img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;
            z-index: $zero-index;
            opacity: 0;
            width: auto;
            max-width: none;
            max-height: none;
            transform: translateX(-50%);
            transition: all linear 0.35s;
          }

          .ofisa__col-content {
            position: relative;
            z-index: $one-index;
          }

          &.hovered-box {
            position: relative;

            &:before {
              opacity: 1;
              background: rgba(0, 0, 0, 0.5);
            }

            .hovered__img {
              opacity: 1;
              transform: translateX(-50%);
            }

            &:first-of-type {
              .hover-on & {
                position: relative;
                z-index: $one-index;
                /* background: url(#{$img-path}home-hero/hover-img1.jpg) $primary-color;
                background: {
                  repeat: no-repeat;
                  position: center center;
                  size: cover;
                }; */
                //transform: scale(1.1);
                //transform-origin: 50% 50%;
              }
            }

            &:nth-of-type(2) {
              .hover-on & {
                position: relative;
                z-index: $one-index;
                //background: url(#{$img-path}home-hero/hover-img2.jpg) $default-color;
                //background: {
                //  repeat: no-repeat;
                //  position: center center;
                //  size: cover;
                //};
                //transform: scale(1.1);
              }
            }

            &:last-of-type {
              .hover-on & {
                position: relative;
                z-index: $one-index;
                //background: url(#{$img-path}home-hero/hover-img3.jpg) $black-color;
                //background: {
                //  repeat: no-repeat;
                //  position: center center;
                //  size: cover;
                //};
                //transform: scale(1.1);
              }
            }
          }
        }

        @include media(">smart-phone") {

          position: relative;
          flex: 1 1 auto;
          display: -webkit-box;
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          overflow: hidden;
          width: 33.333333%;

          /* Scss for heading tags */

          h6 {
            font-style: italic;
            font-weight: $base-font-weight - 100;
            line-height: 1.45rem;
          }

          h4 {
            margin-bottom: 36px;
            line-height: 2.45rem;
          }
        }

        @include media("<=smart-phone") {
          position: relative;
          margin-top: 0 !important;
          padding: 25px 15px;

          .hovered__img {
            display: none;
          }

          .btn {
            margin-top: 20px;
          }

          h6 {
            margin-bottom: 2px;
          }

          h4 {
            margin-bottom: 0px;
          }

          p {
            display: none;
          }
        }
      }
  }
}

.btn {
  .hovered-box & {
    background: $white-color;
    color: $default-color;
  }
}

/* Defining style rules for home page installation and management of infrastructure section */

.#{$ns} {
  &__installation-section {

    @include media(">laptop") {
      padding: 140px 0 130px;

      h2 + {
        .ofisa-row {
          margin-top: 41px;
        }
      }
    }

    @include media(">smart-phone") {

      position: relative;
      overflow: hidden;

      &:before {
        position: absolute;
        top: -50px;
        left: 0;
        z-index: $one-index;
        content: '';
        width: 100%;
        max-width: 228px;
        height: 80%;
        background: url(#{$img-path}home-hero/filter-top-img.png);
        background: {
          repeat: no-repeat;
          position: top left;
          size: contain;
        };
      }

      &:after {
        position: absolute;
        bottom: -143px;
        right: 0px;
        z-index: $one-index;
        content: '';
        width: 100%;
        max-width: 280px;
        height: 100%;
        background: url(#{$img-path}home-hero/filter-bottom-img.png);
        background: {
          repeat: no-repeat;
          position: bottom right;
          size: contain;
        };
      }

      .ofisa__btn-group {
        margin-top: 30px;
      }
    }

    @include media("<=laptop", ">ipad") {
      padding: 86px 0px;

      &:after {
        right: 0px;
        bottom: -120px;
      }
    }

    @include media("<=ipad", ">smart-phone") {
      padding: 56px 0px;

      &:after {
        right: 0px;
        bottom: -120px;
      }
    }

    @include media("<=smart-phone") {
      padding: 36px 0px;
      text-align: center;

      .ofisa__btn-group {
        margin-top: 20px;
      }
    }

    @include media(">maxWidth") {
      .ofisa__sub-container {
        padding: 0 43px;
      }

      h2 {
        /* margin-bottom: 40px; */
      }
    }
  }
}

/* Defining style rules for ofisa__consel-support-section */

.#{$ns} {

  &__consel-support-section {
    position: relative;
    z-index: $one-index;
    .cms__flexbox-layout {

      @include media(">smart-phone") {
        /* align-items: center; */
      }
      .ofisa__flexbox {
        &:first-of-type {

          @include media(">smart-phone") {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
          }

          @include media(">desktop") {
            padding-top: 80px;
            padding-right: 240px;
            padding-bottom: 106px;
          }

          @include media("<=desktop", ">laptop") {
            padding-right: 180px;
          }

          @include media("<=laptop", ">ipad") {
            padding-right: 130px;
          }

          @include media("<=ipad", ">smart-phone") {
            padding-right: 130px;
          }

        }
        &:last-of-type {

          @include media(">desktop") {
            padding-top: 80px;
            padding-left: 240px;
            padding-bottom: 106px;
          }

          @include media("<=desktop", ">laptop") {
            padding-left: 180px;
          }

          @include media("<=laptop", ">ipad") {
            padding-left: 130px;
          }

          @include media("<=ipad", ">smart-phone") {
            padding-left: 130px;
          }
        }

        > div.ofisa_text-container {

          @include media(">desktop") {
            max-width: 320px;
          }

          @include media("<=desktop", ">smart-phone") {
            max-width: 95%;
          }
        }
      }
    }

    .ofisa__consel-support-wrap {

      @include media(">smart-phone") {
        position: absolute;
        right: 0;
        left: -75px;
        z-index: $zero-index;
        pointer-events: none;
        opacity: 0;
        margin: 0 auto;
        width: 100%;
        transform: translateY(100px);
        transition: all linear 0.55s;

        &.fadeIn {
          pointer-events: auto;
          opacity: 1;
        }

        &.slideDown {
          pointer-events: auto;
          transform: translateY(0px);
        }
      }

      @include media(">desktop") {
        bottom: -100px;
        max-width: 546px;
      }

      @include media("<=desktop", ">laptop") {
        bottom: -50px;
        max-width: 425px;
      }

      @include media("<=laptop", ">ipad") {
        bottom: -50px;
        max-width: 350px;
      }

      @include media("<=ipad", ">smart-phone") {
        bottom: -40px;
        max-width: 350px;
      }

      @include media("<=smart-phone") {
        /* background: $white-color; */
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

  }
}

/* Home page ofisa__integration-section */

.#{$ns} {
  &__integration-section {
    @include media(">smart-phone") {
      background: url(#{$img-path}home-hero/texture-bkg.jpg);
      background: {
        repeat: no-repeat;
        position: center center;
        size: cover;
      };
    }
  }

  &__full-imageText-section {
    padding: 11.275% 0;

    @include media(">smart-phone") {
      .ofisa__oneThird-col {
        float: right;

        h2 {
          /* margin-bottom: 39px; */
        }
      }
    }

    @include media("<=smart-phone") {
      background: url(#{$img-path}home-hero/texture-bkg.jpg);
      background: {
        repeat: no-repeat;
        position: center center;
        size: cover;
      };

      .ofisa__oneThird-col {
        float: right;
      }
    }

    @include media(">ipad") {
      .ofisa__oneThird-col {
        width: 30.65%;
      }
    }

    @include media("<=ipad", ">smart-phone") {
      .ofisa__oneThird-col {
        width: 38%;
      }
    }

    @include media(">maxWidth") {
      .ofisa__main-container {
        padding: 0 45px;
      }
    }
  }
}

/* Defining style rules below smartphone sizes */

@include media("<=smart-phone") {
  .ofisa__leftAlign-section,
  .ofisa__twoHalf-imageText-section,
  .ofisa__oneThird-textImg-section,
  .ofisa__twoHalf-section,
  .ofisa__full-imageText-section {
    text-align: center;
  }
}

/* Defining style rules for responsive videos */

.#{$ns} {

  &__video-row {
    position: relative;
    // background: $cyan-color;

    .video__player-btn {
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50%;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);
      transition: all linear 0.35s;

      .right__arrow {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        background: $primary-color;
        border-radius: 3px;

        &:before {
          position: absolute;
          top: 50%;
          right: 50%;
          content: '';
          display: block;
          margin-top: -2px;
          margin-right: -3px;
          width: 7px;
          height: 7px;
          border-bottom: 2px solid $white-color;
          border-right: 2px solid $white-color;
          transform: rotate(-45deg);
        }
      }
    }

    @include media("<=smart-phone") {
      .ofisa__video-cover {
        width: 100%;
      }
    }
  }

  &__video-wrapper {

    position: relative;
    overflow: hidden;
    height: 0;

    &.video-playing {

      @include media(">smart-phone") {
        padding-bottom: 54.25%;
      }

      @include media("<=smart-phone") {
        padding-bottom: 54%;
      }
    }

    .iframe__responsive {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* News page style */
.ofisa__postEntry-row {
  &--bordered {
    padding: 15px 15px;
    border: 1px solid $dark-gray;
  }  
}

.is__list-group {
  margin-bottom: 20px;
}