/* Defining style rules for footer of the theme */

.#{$ns} {

  &-main-footer,
  &-footer {

    /* @include box-shadow(0, 0, 10px, -3px, rgba(0, 0, 0, .25)); */

    @include media(">ipad") {
      padding: 90px 0 105px;

      font-size: 0.875rem;
      letter-spacing: 0.3px;
    }

    @include media("<=ipad", ">smart-phone") {
      padding: 33px 0 70px;
    }

    @include media("<=smart-phone") {
      padding: 33px 0 33px;
      text-align: center;
    }

    .footer__logo-group {
      @include media(">smart-phone") {
        display: table;
        width: 100%;
        font-size: 0;
      }

      @include media("<=smart-phone") {
        display: table;
        margin: 0 -7px;
        width: calc(100% + 14px);
        font-size: 0;
      }

      @include media("<=ipad", ">smart-phone") {
        text-align: center;
      }

      li.footer__logo-item {

        @include media(">laptop") {
          &:not(:last-of-type) {
            padding-right: 2%; // ~8%;
          }
        }

        @include media("<=laptop", ">ipad") {
          &:not(:last-of-type) {
            padding-right: 1.25%;
          }
        }

        @include media(">smart-phone") {
          display: inline-block;
          vertical-align: middle;
          margin-top: -8px;
          width: 33%;

          > a {
            display: block;
          }
        }

        @include media("<=ipad", ">smart-phone") {
          width: 33.33333%;
          &:not(:last-of-type) {
            padding-right: 1.25%;
          }
        }

        @include media("<=smart-phone") {
          display: inline-block;
          vertical-align: middle;
          padding: 0 7px;
          width: 33.33333%;
        }
      }
    }
  }

  &__footer-col {

    .footer__col-header {
      margin-bottom: 12px;

      @include media(">smart-phone") {
        min-height: 55px;
      }
    }

    @include media(">ipad") {
      p {
        margin-bottom: 0;
      }
    }

    a {
      color: $primary-color;
    }

    @include media(">ipad") {
      &:first-of-type {
        width: 33.5%
      }

      &:nth-of-type(2) {
        width: 21%;
      }

      &:last-of-type {
        width: 45.5%;
      }
    }

    @include media("<=ipad", ">smart-phone") {
      &:first-of-type {
        width: 33.5%
      }

      &:nth-of-type(2) {
        width: 23%;
      }

      &:last-of-type {
        width: 43.5%;
      }
    }

    @include media("<=smart-phone") {
      &:not(:last-of-type) {
        padding-bottom: 20px !important;
        border-bottom: 1px solid $cyan-color;
      }
    }
    
    h5 {
      margin-bottom: 0;
      color: $secondary-color;
    }
  }

}