/* Defining style rules for hero banner section available on pages of the theme */

/* Style rules for section with background/cover */

[data-section-bkg="true"],
[data-col-type="image"] {

  @include media(">ipad") {
    background: {
      repeat: no-repeat !important;
      size: cover !important;
    }
  }

  @include media("<=ipad") {
    background: {
      repeat: no-repeat !important;
      position: center center !important;
      size: cover !important;
    }
  }
}

/* Style rules for section with background/cover as well as parallax effect */

[data-parallax="true"] {
  @include media(">ipad") {
    /* background: {
      attachment: fixed !important;
      size: 100% 52% !important;
    }; */
    background: {
      position: 50% 0;
    };
  }

  @include media("<=ipad") {
    + * {
      margin-top: 0 !important;
    }
  }
}

.#{$ns} {

  &__hero-section {
    position: relative;
    background: url(#{$img-path}hero-bkg-01.jpg) no-repeat;

    .ofisa-aboutus-template & {
      background: url(#{$img-path}aboutus-banner.jpg) no-repeat;
      background: {
        position: center 0;
      };
    }

    @include media(">laptop") {
      padding-bottom: percentage(408/1920) + 0.189999;
    }

    @include media("<=laptop", ">ipad") {
      padding-bottom: percentage(408 * 1.2/1920) + 0.189999;
    }

    @include media("<=ipad", ">smart-phone") {
      padding-bottom: percentage(408 * 1.5/1920) + 0.189999;
    }
    @include media("<=smart-phone", ">phone") {
      padding-bottom: percentage(408 * 1.75/1920) + 0.189999;
    }

    @include media("<=phone") {
      min-height: 200px;
    }

  }

  &__hero-caption {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    /* max-width: 690px; */
    max-width: 745px;
    line-height: 3.438rem;
    transform: translateY(-50%);
    transition: all ease-in-out 0.35s;

    @include media(">ipad") {
      margin: 0px auto 0 auto;
    }

    @include media("<=ipad") {
      margin: 0 auto 0 auto;
      padding: 0 15px;
    }

  }
}

/* Defining style rules for home page banner/slider */

#ofisa__home-heroSlider {

  .ofisa__slider-loading {
    /* padding-bottom: percentage(798 / 1903); */
    .ofisa__slider-slide {
      padding-bottom: percentage(798 / 1903);
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: $zero-index;
    }
  }

  @include media(">smart-phone") {
    position: relative;
    overflow: hidden;
    background: $gray-color;
  }

  @include media("<=smart-phone") {
    .ofisa__full-slider {
      margin-bottom: 30px;
      padding-bottom: 40px;
    }
  }

  .#{$ns} {

    &__slider-caption {
      color: $black-color;
      transition: all linear 0.35s;
      @include media(">smart-phone") {
        position: absolute;
        top: 47%;
        left: 50%;
        z-index: $higher-index;
        margin: 0 auto;
        padding: 0 15px;
        width: 680px;
        transform: translate(-50%, -50%);

        h1 {
          margin-bottom: 35px;
          line-height: 3.438rem;
        }
      }

      @include media("<=smart-phone") {
        margin-top: 25px;
        padding: 0 15px;

        h6 {
          color: $lightBlack-color;
        }

        h1 {
          margin-bottom: 35px;
        }
      }

      @include media("<=ipad", ">smart-phone") {
        transform: translate(-50%, -51%);
      }

    }

    &__full-slider {
      h6 {
        margin-bottom: 15px;
        line-height: 1.250rem;
        color: $lightBlack-color;
      }
    }

    /* Home page slider slides */

    &__slider-slide {

      @include media(">smart-phone") {
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
          z-index: $one-index;
          content: '';
          width: 100%;
          height: 100%;
          background: transparentize($primary-color, 0.75);
          transition: all linear 0.35s;
        }

        &.swiper-slide-active:hover {
          &:before {
            //opacity: 1;
          }
        }

        &:after {
          position: absolute;
          top: 35px;
          right: 0;
          bottom: 0;
          z-index: $one-index;
          content: '';
          width: 100%;
          max-width: 601px;
          height: 100%;
          background: url(#{$img-path}home-hero/hero-filter-img.png);
          background: {
            repeat: no-repeat;
            position: calc(100% - 12px) center;
            size: contain;
          }
        }
      }
    }
  }

  /* Home page slider pagination controls */

  .ofisa__slider-pagination {

    transition: all linear 0.35s;
    z-index: $one-index;
    line-height: 1;

    @include media(">laptop") {
      bottom: 120px;
    }

    @include media("<=laptop", ">ipad") {
      bottom: 80px;
    }

    @include media("<=ipad", ">smart-phone") {
      bottom: 70px;
    }

    @include media("<=smart-phone") {
      bottom: 0px;
    }


    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      background: $bullet-color;
      opacity: 1;

      @include media(">smart-phone") {
        border: 1px solid $white-color;
      }

      &.swiper-pagination-bullet-active{

        @include media(">smart-phone") {
          background: $white-color;
        }

        @include media("<=smart-phone") {
          background: $primary-color;
        }
      }
    }
  }

  /* Home page hero video */

  .#{$ns} {

    @include media(">smart-phone") {
      &__fullVideo-row {
        .ofisa__slider-caption {
          top: 52%;
          color: $white-color;
        }

        h6 {
          margin-bottom: 15px;
          line-height: 1.250rem;
        }
      }

      &__video-wrapper {
        position: relative;
        overflow: hidden;
        padding-bottom: percentage(805/1920);
        height: 0;
        background: url(#{$img-path}home-hero/slider-img1.jpg);
        background: {
          repeat: no-repeat !important;
          position: center center !important;
          size: cover !important;
        }

        .ofisa__hero-video {
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          width: 100%;
          height: auto;
          display: block;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          -webkit-transition: opacity 1s linear;
          -moz-transition: opacity 1s linear;
          -ms-transition: opacity 1s linear;
          transition: opacity 1s linear;
        }
      }
    }

    @include media("<=smart-phone") {
      &__flex-video {
        margin-bottom: 30px;
      }
    }
  }

}