/* Defining style rules for navigation of the theme */

.#{$ns}__mobile-menu {

  @include media(">ipad") {
    display: block !important;
  }

  @include media("<=ipad") {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $super-index;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    background: $white-color;

  }

  @include media("<=ipad", ">smart-phone") {
    top: 72px;

    > .ofisa__row-fixer {

      > [class*="-col"] {
        width: 100%;
      }
    }
  }

  @include media("<=smart-phone") {
    top: 61px;
  }

  ul[class*="-list-group"] {
    @include media(">ipad") {
      display: table;
      margin: 0 0 0 auto;
      width: 100%;
      font-size: 0;
    }
  }

  .#{$ns} {

    &__list-group-col {

      @include media(">ipad") {
        font-size: 0;
        line-height: 0;        
      }

      @include media(">desktop") {
        text-align: right;
      }

      li {
        line-height: 1;
        @include media(">ipad") {
          display: inline-block;
          vertical-align: middle;
        }

        > a {
          display: block;
          font-size: $base-font-size - 2px;

          @include media("<=laptop", ">ipad") {
            font-size: 13px;
          }
        }

        &.current-menu-item {
          > a {
            background-color: transparent;
            border-color: $primary-color;
            color: $primary-color;
          }
        }
      }
    }

    &__left-list-group {      
      @include media(">desktop") {
        width: 45%; // ~63%;
      }

      @include media("<=desktop", ">laptop") {
        width: 45%; // ~52%;
      }

      @include media("<=laptop", ">ipad") {
        width: 42.5%; // ~53%;
      }

      @include media("<ipad") {
        background: $primary-color;
      }

      ul {
        @include media(">ipad") {
          text-align: right;
          /* max-width: 425px; */
        }
      }
      li {
        @include media(">ipad") {
          > a {            
            background: $primary-color;
            border: 1px solid transparent;
            border-right: 1px solid $light-red;
            color: $white-color;
            font-weight: $base-font-weight + 100;
            text-transform: $uc;
            transition: all linear 0.5s;

            &:hover {
              background: transparent;
              border-color: $primary-color;
              color: $primary-color;
            }
          }

          &:first-of-type {
            > a {
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
          }

          &:not(:first-of-type) {
            > a {
              border-left: 0;
            }
          }

          &:last-of-type {
            > a {
              border-right: 1px solid $primary-color;
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
            }
          }
        }

        @include media("<=laptop", ">ipad") {
          > a {
            padding: 18px 15px;
          }
        }

        @include media(">laptop") {
          > a {
            padding: 18px 25px;
          }
        }

        @include media("<=ipad") {
          > a {
            border-bottom: 1px solid;
            color: $white-color;

            &:hover {
              color: $secondary-color;
            }
          }
        }

        @include media("<=ipad", ">smart-phone") {
          > a {
            padding: 20px 15px;
          }
        }

        @include media("<=smart-phone") {
          > a {
            padding: 15px 15px;
          }
        }

      }
    }

    &__right-list-group {

      @include media(">laptop") {
        width: 55%// ~37%;
      }

      @include media("<=laptop", ">ipad") {
        width: 55%// ~39%;        
      }

      ul {
        @include media(">ipad") {
          /* max-width: 400px; */
        }
      }

      li {
        @include media(">ipad") {
          > a {            
            border: 1px solid transparent;
            color: $default-color;
            transition: all ease-in-out 0.5s;            
            
            &:hover {
              border-color: $primary-color;
              border-radius: 3px;
              color: $default-color;
            }
          }
        }

        @include media("<=1100px", ">ipad") {
          > a {
            padding: 18px 10px;
          }
        }

        @include media(">1100px") {
          > a {
            padding: 17px 15px;
          }
        }

        @include media("<=ipad") {
          > a {
            background: $white-color;
            border-bottom: 1px solid;
            color: $default-color;

            &:hover {
              border-bottom: 1px solid;
              color: $primary-color;
            }
          }

          &:last-of-type {
            > a {
              border-bottom: 0;
            }
          }
        }

        @include media("<=ipad", ">smart-phone") {
          > a {
            padding: 20px 15px;
          }
        }

        @include media("<=smart-phone") {
          > a {
            padding: 15px 15px;
          }
        }
      }
    }
  }
}