 <!-- Ofisa CMS full with one half two cols section -->

<section class="ofisa__twoHalf-section theme-bkg-{{ function('cms_bg_color', layout.background_color) }}">
    <!-- Ofisa CMS post entry row -->
    <div class="ofisa__postEntry-row">

        <!-- CMS two half section flex-container row -->

        <div class="ofisa__flexbox-wrapper cms__flexbox-layout clearfix">

            <!-- CMS flexbox image col -->
            <div class="cms__flexbox ofisa__oneHalf-flexbox ofisa__flexbox" data-col-type="image" style="background:url({{layout.image.url}})"></div>
            <!-- /.#CMS flexbox image col -->

            <!-- CMS flexbox text col -->
            <div class="cms__flexbox ofisa__oneHalf-flexbox ofisa__flexbox" data-col-type="text">
                {% for item in layout.content %}
                    <div class="ofisa__col-content ofisa_text-container">
                         <h4 class="cms__hidden">{{ item.title }}</h4>
                        {{ item.description }}
                      
                    </div>
                {% endfor %}
                
            </div>
            <!-- /.#CMS flexbox text col -->

        </div><!-- /.#CMS two half section flex-container row -->
    </div><!-- /.#Ofisa CMS post entry row -->
</section><!-- /.#Ofisa CMS full with one half two cols section -->