 <!-- Ofisa CMS accordion shortcode section -->

<section class="ofisa__accordion-section" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">

        <!-- Ofisa CMS post entry row -->

        <div class="ofisa__postEntry-row">

            <!-- Ofisa CMS accordion -->
            <!-- data-collapse-option supports 2 options; "single" for single panel to be opened at at time and "multiple" for multiple panels -->
            <div class="ofisa__accordion" data-collapse-option="single">
                {% for item in layout.accordion %}
                    <div class="ofisa__accordion-panel">
                        <h2>
                            <a href="" class="closer toggler" data-collapse="ofisa__accordion-target-panel">{{item.title}}</a>
                        </h2>
                        <div class="ofisa__accordion-panelBody {% if loop.index == 1 %} active {% endif %}ofisa__accordion-target-panel">
                            {{item.description}}
                        </div>
                    </div>
                {% endfor %}

            </div><!-- /.#Ofisa CMS accordion -->

        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- Ofisa container -->
</section><!-- Ofisa CMS accordion shortcode section -->