<!-- Ofisa big image section -->

<section class="ofisa__bigImage-section text-center" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">

        <!-- Ofisa CMS post entry row -->

        <div class="ofisa__postEntry-row">

            <h2 class="cms__hidden">H2 Title Lorem ipsum dolor</h2>

            <figure>
                <img src="{{layout.image.url}}" alt="" />
            </figure>

        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- /.#Ofisa container -->
</section><!-- /.#Ofisa big image section -->