<!-- Ofisa jumbo banner section -->

<section class="cms__redTheme-section ofisa__jumboBanner-section text-center" data-section-type="no-default">
    <div class="ofisa-container ofisa__sub-container">

        <!-- Ofisa CMS post entry row -->

        <div class="ofisa__postEntry-row">
            <h4>{{ layout.content }}</h4>
            <a href="" class="btn btn-default btn-white cms__hidden">Call To Action</a>

        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- /.#Ofisa container -->
</section><!-- /.#Ofisa jumbo banner section -->