<!-- Ofisa One Third / One Half text cols section -->

<section class="cms__lightBlue-section cms__boxText-section text-center" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">

        <!-- Ofisa CMS post entry row -->

        <div class="ofisa__postEntry-row">

        	{% if layout.columns_with_lines[0].title %}
            	<h2>{{ layout.columns_with_lines[0].title }}</h2>
            {% endif %}
            <!-- Ofisa col/box wrapper row -->
            <div class="clearfix ofisa-row">

                <!-- If there are only two cols in backend then please add "col-sm-6" class, if there are three cols then please add "col-sm-4" class -->

                

                {% for item in layout.columns_with_lines %}


                    {% if item.acf_fc_layout == '1/2_column' %}


                        {% for item in item.left_column %}
                            <div class="col-sm-6 col-xs-12 cms__oneThird-col ofisa__oneThird-col">
                                <div class="ofisa__col-content">
                                    <h5 class="cms__hidden">{{ item.title }}</h5>
                                    {{ item.content }}
                                    <a href="" class="btn btn-default btn-red cms__hidden">Call To Action</a>
                                </div>
                            </div>
                        {% endfor %}

                        {% for item in item.right_column %}
                            <div class="col-sm-6 col-xs-12 cms__oneThird-col ofisa__oneThird-col">
                                <div class="ofisa__col-content">
                                    <h5 class="cms__hidden">{{ item.title }}</h5>
                                    {{ item.content }}
                                    <a href="" class="btn btn-default btn-red cms__hidden">Call To Action</a>
                                </div>
                            </div>
                        {% endfor %}

                    {% elseif item.acf_fc_layout == '1/3_column' %}

                        {% for item in item.left_column %}
                            <div class="col-sm-4 col-xs-12 cms__oneThird-col ofisa__oneThird-col">
                                <div class="ofisa__col-content">
                                    <h5 class="cms__hidden">{{ item.title }}</h5>
                                    {{ item.content }}
                                    <a href="" class="btn btn-default btn-red cms__hidden">Call To Action</a>
                                </div>
                            </div>
                        {% endfor %}

                        {% for item in item.middle_column %}
                            <div class="col-sm-4 col-xs-12 cms__oneThird-col ofisa__oneThird-col">
                                <div class="ofisa__col-content">
                                    <h5 class="cms__hidden">{{ item.title }}</h5>
                                    {{ item.content }}
                                    <a href="" class="btn btn-default btn-red cms__hidden">Call To Action</a>
                                </div>
                            </div>
                        {% endfor %}

                        {% for item in item.right_coloumn %}
                            <div class="col-sm-4 col-xs-12 cms__oneThird-col ofisa__oneThird-col">
                                <div class="ofisa__col-content">
                                    <h5 class="cms__hidden">{{ item.title }}</h5>
                                    {{ item.content }}
                                    <a href="" class="btn btn-default btn-red cms__hidden">Call To Action</a>
                                </div>
                            </div>
                        {% endfor %}

                    {% endif %}
                {% endfor %}




                

            </div><!-- /.# Ofisa col/box wrapper row -->

        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- Ofisa container -->
</section><!-- /.#Ofisa One Third / One Half text cols section -->