 <!-- Ofisa big image section -->

<section class="js-animation ofisa__gmap-section" data-section-type="default" data-animation="animate__top">
    <div class="ofisa-container ofisa__sub-container">

        <!-- Ofisa CMS post entry row -->

        <div class="ofisa__postEntry-row">

            <figure class="ofisa__gmap-wrapper">
                <img src="{{theme.link}}/images/gmap-img.jpg" alt="" />
                <a href="https://goo.gl/maps/w67hQgZaNr72 " target="_blank" class="gmap__link"></a>
                <i class="map_icon"></i>
            </figure>

        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- /.#Ofisa container -->
</section><!-- /.#Ofisa big image section -->