<!-- Ofisa CMS simple left align text section -->

<section class="ofisa__leftAlign-section" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">
        <!-- Ofisa CMS post entry row -->
        <div class="ofisa__postEntry-row">
            {{ layout.content }}
        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- Ofisa container -->
</section><!-- /.#Ofisa CMS simple left align text section -->