<!-- Ofisa Testimonial Slider section -->

<section class="cms__fakeBlack-section ofisa__testimonail-section text-center" data-section-type="no-default">
    <div class="ofisa-container ofisa__sub-container">

        <!-- Ofisa CMS post entry row -->

        <div class="ofisa__postEntry-row">

            <h2>{{layout.title}}</h2>

            <!-- Ofisa CMS testimonials slider row -->

            <div class="ofisa__testiSlider-row">

                <!-- Testimonial Slider block -->
                <div class="testiSlider__swiper ofisa__full-slider swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper testiSlider__swiper-wrapper">
                        <!-- Ofisa slider slides group -->
                        

                        {% for item in layout.testimonials %}

                            <div class="ofisa__slider-slide swiper-slide">

                                <div class="testiSlider__topRow testiSlider__bioData-row">
                                    <div class="ofisa__valign-middle testiSlider-col-img">
                                        <figure>
                                            <img src="{{ item.image.url }}" alt="{{ item.image.alt }}" />
                                            {# {{item.image|print_r}} #}
                                            <em>{{ item.image.caption }}</em>
                                        </figure>
                                    </div>
                                    <div class="ofisa__valign-middle testiSlider-col-text">
                                        <h3>{{ item.firstname }}</h3>
                                        <h3>{{ item.lastname }}</h3>
                                        <p>{{ item.sub_title }}</p>
                                    </div>
                                </div>

                                <div class="testSlider-bodyRow">
                                    {{ item.little_description }}
                                </div>

                                <div class="testiSlider__footerRow testiSlider__buttons-row">
                                    <ul class="testiSlider__button-group">
                                        {% for item in item.call_to_action %}
                                             {% if item.text != '' %}
                                                <li><a href="{{ item.link }}" class="btn btn-default btn-red" {% if item.option == 'new' %} target="_blank" {% endif %}>{{ item.text }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        {% endfor %}


                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination ofisa__slider-pagination visible-xs"></div>

                    <!-- If we need navigation buttons -->
                    <a class="swiper-button-prev ofisa__slider-btn"></a>
                    <a class="swiper-button-next ofisa__slider-btn"></a>

                </div><!--/.#Testimonial Slider block -->

            </div><!-- Ofisa CMS testimonials slider row -->

        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- /.#Ofisa container -->
</section><!-- /.#Ofisa Testimonial Slider section -->