{% extends "base.twig" %}

{% block content %}
	<!-- Ofisa jumbo banner section -->
	<section class="cms__redTheme-section ofisa__jumboBanner-section text-center" data-section-type="no-default">
	    <div class="ofisa-container ofisa__sub-container">

	        <!-- Ofisa CMS post entry row -->

	        <div class="ofisa__postEntry-row">
	        	<p></p>
	        	<p></p>
	        	<p></p>
	        	<p></p>
	            <h4>Page not found !</h4>

	        </div><!-- /.#Ofisa CMS post entry row -->
	    </div><!-- /.#Ofisa container -->
	</section><!-- /.#Ofisa jumbo banner section -->
{% endblock %}

