{% extends "base.twig" %}

{% block content %}

	{# {{ post.get_field('cms_page') | print_r }} #}

	{% for layout in post.get_field('cms_page') %}
		{% if layout.acf_fc_layout == 'intro_type_header' %}
			{% include "template-parts/cms/intro_type_header.twig" %}
			{# {% include "template-parts/cms/intro_type_header.twig" with {comment:cmt} %} #}
		{% elseif layout.acf_fc_layout == 'left_text_aligned' %}
			{% include "template-parts/cms/left_text_aligned.twig" %}
		{% elseif layout.acf_fc_layout == 'space' %}
			{% if layout.size == 'small'%}
				<div class="csm__space-block cms__tinySpace-block"></div>
			{% elseif layout.size == 'medium' %}
				<div class="csm__space-block cms__smallSpace-block"></div>
			{% elseif layout.size == 'large' %}
				<div class="csm__space-block cms__largeSpace-block"></div>	
			{% endif %}	
			
		{% elseif layout.acf_fc_layout == '13_image_23_text' %}
			{% include "template-parts/cms/13_image_23_text.twig" %}
		{% elseif layout.acf_fc_layout == '12_picture_12_text' %}
			{% include "template-parts/cms/12_picture_12_text.twig" %}
		{% elseif layout.acf_fc_layout == '12_text_and__12_text' %}
			{% include "template-parts/cms/12_text_and__12_text.twig" %}
		{% elseif layout.acf_fc_layout == 'columns_with_lines' %}
			{% include "template-parts/cms/columns_with_lines.twig" %}
		{% elseif layout.acf_fc_layout == 'color_banner' %}
			{% include "template-parts/cms/color_banner.twig" %}	
		{% elseif layout.acf_fc_layout == 'big_picture' %}
			{% include "template-parts/cms/big_picture.twig" %}
		{% elseif layout.acf_fc_layout == 'accordion' %}
			{% include "template-parts/cms/accordion.twig" %}
		{% elseif layout.acf_fc_layout == 'left_accordion' %}
			{% include "template-parts/cms/left_accordion.twig" %}
		{% elseif layout.acf_fc_layout == 'left_accordion_new' %}
			{% include "template-parts/cms/left_accordion_new.twig" %}	
		{% elseif layout.acf_fc_layout == 'testimonials' %}
			{% include "template-parts/cms/testimonials.twig" %}
		{% elseif layout.acf_fc_layout == 'contact_form' %}
			{% include "template-parts/cms/contact_form.twig" %}
		{% elseif layout.acf_fc_layout == 'google_map' %}
			{% include "template-parts/cms/google_map.twig" %}
		{% elseif layout.acf_fc_layout == 'team_grid' %}
			{% include "template-parts/cms/team_grid.twig" %}

				

				
		{% endif %}
	{% endfor %}
	{# {% for layout in post.get_field('cms_page') %}
		{% if layout.acf_fc_layout == 'intro_type_header' %}

	    	{% for left_column in layout.left_column %}
	    		{% if left_column.acf_fc_layout == 'content' %}
	    			<div class="js-hover-box ofisa__threeThird-flexbox ofisa__flexbox" data-speed="2" data-color-type="ofisa__red">
                        <div class="ofisa__col-content">
                            <h6>{{ left_column.subtitle }}</h6>
                            <h4>{{ left_column.title }}</h4>
                            {{ left_column.little_description }}
                            <a href="{{ left_column.link }}" class="btn btn-white btn-transparent">Cliquez ici</a>
                        </div>
                    </div>
	    		{% endif %}
	    	{% endfor %}

	    	{% for middle_column in layout.middle_column %}
	    		{% if middle_column.acf_fc_layout == 'content' %}
	    			<div class="js-hover-box ofisa__threeThird-flexbox ofisa__flexbox" data-speed="2" data-color-type="ofisa__red">
                        <div class="ofisa__col-content">
                            <h6>{{ middle_column.subtitle }}</h6>
                            <h4>{{ middle_column.title }}</h4>
                            {{ middle_column.little_description }}
                            <a href="{{ middle_column.link }}" class="btn btn-white btn-transparent">Cliquez ici</a>
                        </div>
                    </div>
	    		{% endif %}
	    	{% endfor %}

	    	{% for right_column in layout.right_column %}
	    		{% if right_column.acf_fc_layout == 'content' %}
	    			<div class="js-hover-box ofisa__threeThird-flexbox ofisa__flexbox" data-speed="2" data-color-type="ofisa__red">
                        <div class="ofisa__col-content">
                            <h6>{{ right_column.subtitle }}</h6>
                            <h4>{{ right_column.title }}</h4>
                            {{ right_column.little_description }}
                            <a href="{{ right_column.link }}" class="btn btn-white btn-transparent">Cliquez ici</a>
                        </div>
                    </div>
	    		{% endif %}
	    	{% endfor %}
	    {% endif %}
	{% endfor %} #}
{% endblock %}

