{% extends "base.twig" %}

{% block content %}


    <section id="ofisa__home-heroSlider" class="ofisa__home-heroSlider text-center ofisa__heroSlider-section" data-section-type="default">
        <div class="ofisa__section-row">

            <!-- If users/clients opt to display image slider then show this slider programtically -->
            <!-- Ofisa home page slider row -->
            {% if post.get_field('slider_or_video') == 'slider' %} 
                <div class="ofisa__full-slider swiper-container ofisa__slider-loading" data-autoplay-speed="4000">
                    <div class="swiper-wrapper ofisa__swiper-wrapper">
                        <!-- Ofisa slider slides group -->
                        {% for item in post.get_field('slider') %}
                           <div class="ofisa__slider-slide swiper-slide">
                               <img src="{{item.image.url}}" alt="" />
                               <div class="ofisa__slider-caption">
                                   <h6>{{item.sub_title}}</h6>
                                   <h1>{{item.title}}</h1>
                                   <a href="{{item.link}}" class="btn btn-red">En savoir plus</a>
                               </div>
                           </div>
                       {% endfor %}
                   </div>
                   <!-- slider pagination -->
                   <div class="swiper-pagination ofisa__slider-pagination"></div>
                   <!-- /.# slider pagination -->

               </div><!-- Ofisa home page slider row -->
           {% endif %}

           <!-- Else users/clients opt to display video then show this slider programtically -->
           <!-- Ofisa home page video row -->
           {% if post.get_field('slider_or_video') == 'video' %} 
            <div class="ofisa__fullVideo-row ofisa__flex-video" data-visible-type="true">

                <div class="ofisa__flexVideo-wrapper ofisa__video-wrapper hidden-xs">
                    <video preload="auto" muted autoplay loop alt="homepage-video-poster" class="ofisa__hero-video ofisa__js-video" id="ofisa__hero-video">
                        <source src="{{ post.get_field('video_url') }}" type="video/webm">
                            <source src="{{ post.get_field('video_url') }}" type="video/mp4">
                            </video>
                        </div>

                        <!-- Ofisa mobile fall back image for video -->

                        <div class="ofisa__video-fallback-image visible-xs">
                            <img src="{{ post.get_field('video_cover_image').url }}" alt="" />
                        </div><!-- /.#Ofisa mobile fall back image for video -->

                        <!-- Check if the hero banner has video, if has add has__video class to body -->
                        <script>
                    // Cache DOM elements into jquery objects

                    var $ofisaFlexVideo = $('.ofisa__flex-video'),
                    ofisaFlexVideoLength = $ofisaFlexVideo.length,
                    dataVisbileType = $ofisaFlexVideo.data('visible-type');
                    $body = $('body');

                    // Checking occurrence of video elements
                    if(ofisaFlexVideoLength !== 0 && dataVisbileType === true) {
                        $body.addClass('has__video');
                    }
                </script>

                <div class="ofisa__slider-caption">
                    {{ post.get_field('video_description') }}
                </div>
            </div>
        {% endif %}

    </div>
</section><!-- /.#Ofisa home page hero slider/banner -->

<!-- Ofisa CMS block wrap -->
<main id="ofisa-main" class="ofisa-main" role="main">

    <!-- Ofisa home template 3 box and integration section -->

    <div class="ofisa__integration-section" style="background-image:url({{function('site_url')}}/wp-content/uploads/ftp-images/home/texture-bkg.jpg);">
        <!-- Ofisa home template three box section -->

        <section class="ofisa__threeBox-section ofisa__homePage-box-section" data-section-type="no-default" data-hover="true">
            <div class="ofisa-container ofisa__main-container">

                <!-- Ofisa CMS post entry row -->
                <div class="ofisa__postEntry-row">
                    <!-- Ofisa home template three box row wrapper -->
                    <div class="ofisa__flexbox-wrapper cms__flexbox-layout clearfix">

                       {% for layout in post.get_field('3_blocks') %}
                          {% if layout.acf_fc_layout == '3_blocks' %}

                             {% for left_column in layout.left_column %}
                                {% if left_column.acf_fc_layout == 'content' %}
                                   <div class="js-hover-box ofisa__threeThird-flexbox ofisa__flexbox" data-speed="2" data-color-type="ofisa__red">
                                    {# <img src="{{function('site_url')}}/wp-content/uploads/ftp-images/home/hover-img1.jpg" class="hovered__img" alt="" /> #}
                                    <img src="{{ left_column.hover_image.url }}" class="hovered__img" alt="{{ left_column.hover_image.alt }}" />
                                    
                                    <div class="ofisa__col-content">
                                        <h6>{{ left_column.subtitle }}</h6>
                                        <h4>{{ left_column.title }}</h4>
                                        {{ left_column.little_description }}
                                    </div>
                                    <span class="btn btn-white btn-transparent">Cliquez ici</span>
                                    <a href="{{ left_column.link }}" class="fake__link"></a>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for middle_column in layout.middle_column %}
                            {% if middle_column.acf_fc_layout == 'content' %}
                               <div class="js-hover-box ofisa__threeThird-flexbox ofisa__flexbox" data-speed="2" data-color-type="ofisa__blue">
                                <img src="{{ middle_column.hover_image.url }}" class="hovered__img" alt="{{ middle_column.hover_image.alt }}" />
                                <div class="ofisa__col-content">
                                    <h6>{{ middle_column.subtitle }}</h6>
                                    <h4>{{ middle_column.title }}</h4>
                                    {{ middle_column.little_description }}
                                </div>
                                <span  class="btn btn-white btn-transparent">Cliquez ici</span>
                                <a href="{{ middle_column.link }}" class="fake__link"></a>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for right_column in layout.right_column %}
                        {% if right_column.acf_fc_layout == 'content' %}
                           <div class="js-hover-box ofisa__threeThird-flexbox ofisa__flexbox" data-speed="2" data-color-type="ofisa__black">
                            <img src="{{ right_column.hover_image.url }}" class="hovered__img" alt="{{ right_column.hover_image.alt }}" />
                            <div class="ofisa__col-content">
                                <h6>{{ right_column.subtitle }}</h6>
                                <h4>{{ right_column.title }}</h4>
                                {{ right_column.little_description }}
                            </div>
                            <span  class="btn btn-white btn-transparent">Cliquez ici</span>
                            <a href="{{ right_column.link }}" class="fake__link"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}


    </div><!-- /.#Ofisa home template three box row wrapper -->
</div><!-- /.#Ofisa CMS post entry row -->

</div><!-- /.# Ofisa container -->
</section><!-- Ofisa home template three box section -->

<!-- Ofisa home tempate full width image text section -->
<section class="ofisa__full-imageText-section" data-section-type="default">
    <div class="ofisa-container ofisa__main-container">

        <!-- Ofisa CMS post entry row -->
        <div class="ofisa__postEntry-row">

            <div class="row clearfix ofisa__row">
                <div class="col-sm-4 col-xs-12 ofisa__oneThird-col">
                    <div class="ofisa__col-content">
                       {% for item in post.get_field('full_width_image_with_text') %}
                          <h2>{{ item.title }}</h2>
                          {{ item.description }}

                      {% endfor %}

                  </div>
              </div>
          </div>

      </div><!-- /.#Ofisa CMS post entry row -->
  </div><!-- /.# Ofisa container -->
</section><!-- /.#Ofisa home tempate full width image text section -->

</div><!-- /.#Ofisa home template 3 box and integration section -->

<section class="cms__darkBlue-section ofisa__twoHalf-section ofisa__twoHalf-imageText-section ofisa__consel-support-section" data-section-type="no-default">
    <!-- Ofisa CMS post entry row -->
    <div class="ofisa__postEntry-row">

        <!-- CMS two half section flex-container row -->

        <div class="ofisa__flexbox-wrapper cms__flexbox-layout clearfix">
           {% for item in post.get_field('2_blocks') %}
              {# {{ loop.index }} #}
              <div class="cms__flexbox ofisa__oneHalf-flexbox ofisa__flexbox" data-col-type="text" data-color-type="{% if loop.index == '1' %}ofisa__black{% else %}ofisa__blue{% endif %}">
               <div class="ofisa__col-content ofisa_text-container">
                   <h2>{{ item.title }}</h2>
                   {{ item.description }}
               </div>
           </div>

       {% endfor %}

   </div><!-- /.#CMS two half section flex-container row -->

   <!-- Consel/Support section center image -->
   <div class="ofisa__consel-support-wrap js-animation hidden-xs" data-animation="fadeIn slideDown">
    <img src="{{ function('site_url') }}/wp-content/uploads/ftp-images/home/ipad-img.png" alt="" />
</div>

</div><!-- /.#Ofisa CMS post entry row -->
</section><!-- /.#Ofisa CMS full with one half two cols section -->

<!-- Ofisa one third text image shortcode section -->

<section class="cms__lightBlue-section cms__oneThird-section ofisa__oneThird-textImg-section ofisa__installation-section" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">

        <!-- Ofisa CMS post entry row -->
        {% for item in post.get_field('12_text_23_text') %}

            <div class="ofisa__postEntry-row ofisa__postEntry-row--{{ item.layout_type }}">

                <h2>{{ item.title }}</h2>

                <!-- Ofisa col/box wrapper row -->
                <div class="clearfix ofisa-row">

                    <div class="col-sm-4 col-xs-12 cms__col ofisa__oneThird-col">
                        <div class="ofisa__col-content">
                            {{ item.first_text }}
                        </div>
                    </div>

                    <div class="col-sm-8 col-xs-12 cms__col ofisa__twoThird-col">
                        <div class="ofisa__col-content">
                            {{ item.second_text }}
                        </div>
                    </div>

                </div><!-- /.# Ofisa col/box wrapper row -->

                <!-- Button group -->
                <div class="ofisa__btn-group">
                    <a href="{{ item.button }}" class="btn btn-default btn-red">En savoir plus</a>
                </div><!-- /.#Button group -->

            </div>

        {% endfor %}

    </div><!-- /.#Ofisa container -->
</section><!-- /.#Ofisa one third text image shortcode section -->

</main><!-- /.#Ofisa CMS block wrap -->

{% endblock %}