 <section class="ofisa__oneThird-textImg-section" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">
        <div class="ofisa__postEntry-row ofisa__postEntry-row--{{ layout.layout_type }}">
            <div class="clearfix ofisa-row">
                <div class="col-sm-4 col-xs-12 cms__col ofisa__oneThird-col">
                    <div class="ofisa__col-content">
                        <!-- User opts to display video then use this structure -->
                        <div class="ofisa__video-row">
                            <div class="ofisa__video-wrapper">
                                <!-- Video iframe image {supports youtube, vimeo} -->
                                <iframe class="iframe__responsive responsive__video" src="" frameborder="0" allowfullscreen=""></iframe>
                                <!-- /.#Video iframe image {supports youtube, vimeo} -->
                            </div>

                            <img src="{{ layout.image.url }}" class="ofisa__video-cover" alt="" />

                            {% if layout.video_url %}

                            <a href="" class="ofisa__player-btn video__player-btn" data-video-src="{{ layout.video_url }}" data-video-player="true">
								    <i class="right__arrow"></i>
                            </a>	
                            {% endif %}
                        </div>
                        <!-- User opts to display image then use this structure -->
                        <figure class="hidden">
                            <img src="{{ layout.image.url }}" alt="" />
                        </figure>
                    </div>
                </div>

                <div class="col-sm-8 col-xs-12 cms__col ofisa__twoThird-col">
                	{% for item in layout.content %}
                		<div class="ofisa__col-content">
	                        <h3>{{ item.title }}</h3>
	                        {{ item.content }}
	                        <a href="" class="btn btn-default btn-red cms__hidden">Call To Action</a>
	                    </div>
				    {% endfor %}
                </div>
            </div><!-- /.# Ofisa col/box wrapper row -->
        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- /.#Ofisa container -->
</section><!-- /.#Ofisa one third text image shortcode section -->