<section class="ofisa-section ofisa__hero-section text-center" data-section-type="no-default" data-section-bkg="true" data-parallax="true" data-speed="0.5" data-delay="0.2" style="background:url({{ layout.picture.url }})">
    <div class="ofisa-container ofisa__sub-container">
        <!-- Ofisa CMS post entry row -->
        <div class="ofisa__postEntry-row">
            <div class="ofisa__banner-caption ofisa__hero-caption">
                <h6> {{ layout.subtitle }}</h6>
                <h1> {{ layout.title }}</h1>
            </div>
        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- Ofisa container -->
</section><!-- /.#Ofisa CMS hero-banner section -->