<section class="ofisa__verticalAccord-section ofisa__proMgmt-group-section" data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">
        <div class="ofisa__proMgmt-accordion-row">
            <div class="clearfix ofisa-row">
                <div class="col-sm-4 hidden-xs ofisa__accordionList-col">
                    <div class="ofisa__vertical-accordion" data-collapse-option="single">
                        {% for item in layout.left_accordion %}
                            {% set count = loop.index %}
                            {% set ac_name = function('get_first_word', [item.main_title, count])  %}
                                <div class="vertical-accordion-panel">
                                    <h5><a href="" class="vAccor-toggle {% if count == 1 %} active {% endif %}" data-panel="vAccor-{{ac_name}}">{{item.main_title}}</a></h5>
                                    <ul class="vAccor-{{ac_name}} vertical-accordion-group">
                                        {% for item in item.sub_content_levels %}
                                            {% set count1 = loop.index %}
                                            {% set ac_name_sub = function('get_first_word', [item.title, count1~count])  %}
                                            {% if item.has_childs == '1' %}

                                                <li class="vAccor-list-item" test="test"> 
                                                    <a href="" class="vAccor-toggle" data-panel="VAccor--{{ac_name_sub}}-intro">{{item.title}}</a>
                                                    <ul class="VAccor--{{ac_name_sub}}-intro vertical-accordion-group">
                                                        
                                                             {% for item in item.sub_content_level %}

                                                                {% set count2 = loop.index %}
                                                                {% set ac_name_sub_1 = function('get_first_word', [item.title, count2~count1~count])  %}

                                                                {% if item.has_child == '1' %}

                                                                     <li>
                                                                        <a href="" class="vAccor-toggle" data-panel="VAccor--{{ ac_name_sub_1 }}-link{{count2}}">{{item.title}}</a>
                                                                        <ul class="VAccor--{{ ac_name_sub_1 }}-link{{count2}} vertical-accordion-group">
                                                                            

                                                                            {% for item in item.sub_content_level %}
                                                                                {% set count3 = loop.index %}
                                                                                {% set ac_name_sub_2 = function('get_first_word', [item.title, count3~count2~count1~count])  %}
                                                                                <li><a href="" class="vAccor-panel-toggle" data-block="{{ac_name_sub_2}}">{{item.title}}</a></li>

                                                                            {% endfor %}

                                                                        </ul>
                                                                    </li>
                                                                {% else %}  
                                                                     <li><a href="" class="vAccor-panel-toggle" data-block="{{ ac_name_sub_1 }}--block">{{item.title}}</a></li>
                                                                {% endif %}
                                                            
                                                            {% endfor %}

                                                    </ul>                                                        
                                                </li>

                                            {% else %}
                                                 <li class="vAccor-list-item"><a href="" class="vAccor-panel-toggle {% if count1~count == 11 %} active--item {% endif %}" data-block="{{ ac_name_sub }}--block">{{item.title}}</a></li>
                                            {% endif %}

                                        {% endfor %}

                                    </ul>
                                </div>

                        {% endfor %}
                      
                    </div>

            <script>
                // Function to make vertical nav sticky
                var $self = $('.ofisa__accordionList-col'),
                    selfHeight = $self.outerHeight(true),
                    selfOffset = $self.offset().top,
                    $win = $(window),
                    winWidth = $win.width(),
                    $header = $('#masthead'),
                    headerHeight = $('#masthead').outerHeight(true),
                    $accorSec = $('.ofisa__proMgmt-group-section'),
                    $dataParallax = $('section[data-parallax="true"]'),
                    $parallaxNext = $dataParallax.next(),
                    colHeight = $('.ofisa__accordionList-col').height($('.ofisa__panelGroup-col').outerHeight()),
                    parallaxNextMargin;

                // Defining variables for window resize
                var stickyTimer = null,
                        stickyTimerDelay = 300;
                $win.on('resize', function() {
                    if(stickyTimer !== null) clearTimeout(stickyTimer);
                    stickyTimer = setTimeout(function() {
                        winWidth = $win.width(),
                        selfOffset = $self.offset().top,
                        accorSecOffset = $accorSec.offset().top,
                        accorSecHeight = $accorSec.outerHeight(true),
                        headerHeight = parseInt($('#masthead').outerHeight(true)),
                        colHeight = $('.ofisa__accordionList-col').height($('.ofisa__accordionList-col').closest('.ofisa__verticalAccord-section').outerHeight()),
                        parallaxNextMargin = 0; //parseInt($parallaxNext.css('margin-top'));
                    }, stickyTimerDelay);
                });

                // Fire scroll event on window
                $win.on('scroll load', function() {
                    winScrollTop = $win.scrollTop(),
                    accorSecOffset = $accorSec.offset().top,
                    accorSecHeight = $accorSec.outerHeight(true),
                    headerHeight = parseInt($('#masthead').outerHeight(true)),
                    colHeight = $('.ofisa__accordionList-col').height($('.ofisa__panelGroup-col').outerHeight()),
                    parallaxNextMargin = 0; //parseInt($parallaxNext.css('margin-top'));
                    if(winScrollTop >= selfOffset + parallaxNextMargin - headerHeight && winScrollTop < accorSecOffset + accorSecHeight + parallaxNextMargin - headerHeight) {
                        $self.addClass('sticky-sidebar sticky-panel')
                        .css({
                            'top': headerHeight,
                            'height': colHeight
                        });
                    }else {
                        $self.removeClass('sticky-sidebar sticky-panel');//css('position', 'static');
                    }
                    if(winScrollTop >= accorSecOffset + accorSecHeight + parallaxNextMargin - headerHeight) {
                        $self.addClass('absolutely-sticky').removeClass('sticky-sidebar sticky-panel').css({'top': accorSecOffset + accorSecHeight + parallaxNextMargin});
                    }else {
                        $self.removeClass('absolutely-sticky');
                    }
                }).trigger('scroll');
            </script><!-- /.#Script to make accordion col sticky on window scroll -->

                </div><!-- /.#Property Management group list accordion left col -->
                <!-- Property Management group accrodion relative panel group col -->

                 <div class="col-sm-8 col-xs-12 ofisa__panelGroup-col">

                    <div class="ofisa__panelGroup-row">

                        {% for item in layout.left_accordion %}
                            {% set count = loop.index %}
                            {% set ac_name = function('get_first_word', [item.main_title, count])  %}

                                 <div class="ofisa__{{ ac_name }}--group-row mobile--group-row parent-group-row">
                                    <h5 class="visible-xs"><a href="" class="mbl__toggle {% if count == 1 %} active {% endif %}" data-panel="mobile__{{ ac_name }}--block">{{ item.main_title }}</a></h5>
                                    <div class="mobile__panelGroup mobile__{{ ac_name }}--block {% if count == 1 %} mbl-active-panel {% endif %}">
                                        {% for item in item.sub_content_levels %}
                                            {% set count1 = loop.index %}
                                            {% set ac_name_sub = function('get_first_word', [item.title, count1~count])  %}

                                            {% if item.has_childs == '1' %}

                                                <div class="ofisa__{{ac_name_sub}}--group-row mobile--group-row">
                                                    <h5 class="visible-xs"><a href="" class="mbl__toggle" data-panel="mobile__{{ac_name_sub}}">{{item.title}}</a></h5>
                                                    <div class="mobile__panelGroup mobile__{{ac_name_sub}}">

                                                        {% for item in item.sub_content_level %}

                                                            {% set count2 = loop.index %}
                                                            {% set ac_name_sub_1 = function('get_first_word', [item.title, count2~count1~count])  %}


                                                            {% if item.has_child == '1' %}

                                                                <div class="ofisa__{{ ac_name_sub_1 }}--group-row mobile--group-row">
                                                                    <h5 class="visible-xs"><a href="" class="mbl__toggle" data-panel="mobile__{{ ac_name_sub_1 }}">{{item.title}}</a></h5>
                                                                    <div class="mobile__panelGroup mobile__{{ ac_name_sub_1 }}">

                                                                        {% for item in item.sub_content_level %}
                                                                            {% set count3 = loop.index %}
                                                                            {% set ac_name_sub_2 = function('get_first_word', [item.title, count3~count2~count1~count])  %}
                                                                           
                                                                            <div class="ofisa__vAccor-block {{ac_name_sub_2}} {{count~count1}}">
                                                                                <h5 class="visible-xs"><a href="" class="mbl__inner-toggle" data-panel="mobile--panel-block">{{item.title}}</a></h5>
                                                                                <div class="mobile--sub-block mobile--panel-block">
                                                                                    <div class="vAccor-block-heading">
                                                                                        <h2>{{item.title}}</h2>
                                                                                    </div>
                                                                                    <!-- Accordion block CMS content -->
                                                                                    <div class="vAccor-block--body">
                                                                                        {{item.content}}
                                                                                    </div><!-- /.#Accordion block CMS content -->
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}    
                                                                        
                                                                    </div>
                                                                </div>


                                                            {% else %}  

                                                                 <div class="ofisa__vAccor-block {{ ac_name_sub_1 }}--block">
                                                                    <h5 class="visible-xs"><a href="" class="mbl__inner-toggle" data-panel="mobile--panel-block">{{item.title}}</a></h5>
                                                                    <div class="mobile--sub-block mobile--panel-block">
                                                                        <div class="vAccor-block-heading">
                                                                            <h2>{{item.title}}</h2>
                                                                        </div>
                                                                        <!-- Accordion block CMS content -->
                                                                        <div class="vAccor-block--body">
                                                                            {{item.content}}

                                                                        </div><!-- /.#Accordion block CMS content -->
                                                                    </div>
                                                                </div>

                                                            {% endif %}
                                                        
                                                        {% endfor %}

                                                    </div>
                                                </div>


                                            {% else %}

                                                <div class="ofisa__vAccor-block {{ac_name_sub}}--block {% if count~count1 == 11 %} active--block {% endif %} {{count~count1}}">

                                                    <h5 class="visible-xs"><a href="" class="mbl__inner-toggle {% if count~count1 == 11 %} active {% endif %}" data-panel="mobile--panel-block">{{item.title}}</a></h5>

                                                    <div class="mobile--sub-block mobile--panel-block {% if count~count1 == 11 %} mobile-active-subpanel {% endif %}">
                                                        <div class="vAccor-block-heading">
                                                            <h2>{{item.title}}</h2>
                                                        </div>

                                                        <!-- Accordion block CMS content -->
                                                        <div class="vAccor-block--body">
                                                            {{item.content}}
                                                        </div><!-- /.#Accordion block CMS content -->
                                                    </div>
                                                </div>

                                            {% endif %}

                                        {% endfor %}
                                    </div>
                                </div>

                        {% endfor %}

                    </div>
                    <!-- Script to show relative block with data-block attributes -->
                    <script>
                        var $itemsGroup = $('.vertical-accordion-group'),
                            $dataItems = $itemsGroup.find('.vAccor-panel-toggle'),
                            $vAccordion = $('.ofisa__vertical-accordion'),
                            $panelGroup = $('.ofisa__panelGroup-row');
                        $dataItems.each(function() {
                            var $that = $(this);
                            $that.on('click', function (e) {
                                var $vAccorBlock = $('.ofisa__vAccor-block'),
                                    dataParallaxHgt = $('.ofisa__verticalAccord-section').offset().top;//outerHeight(true);
                                    $that.closest($vAccordion).find($dataItems).removeClass('active--item');
                                    $that.addClass('active--item');
                                    $targetBlockVal = $('.' + $that.attr('data-block'));
                                    $vAccorBlock.removeClass('active--block');
                                    $targetBlockVal.addClass('active--block');
                                setTimeout(function() {
                                    $('html, body').stop(true).animate({
                                        scrollTop: dataParallaxHgt - headerHeight
                                    }, {
                                        duration: 1200,
                                        easing: 'easeInOutExpo'
                                    });
                                }, 500);
                                e.preventDefault();
                            });
                        });

                        // Creating mobile accordion
                        var $topParent = $('.ofisa__panelGroup-row'),
                            $mobileGroupRow = $('.mobile--group-row'),
                            $mobileToggle = $('.mbl__toggle');
                        $mobileToggle.each(function () {
                           var $__self = $(this);
                            $__self.on('click', function(e) {
                              var $mobileTopTarget = $('.' + $__self.attr('data-panel')),
                                  $mobileGroupRow = $__self.closest('.mobile--group-row');
                              if(!$__self.hasClass('active')) {
                                  $__self.addClass('active').removeClass('inactive');   
                                  $mobileTopTarget.stop(true).slideToggle(350);
                                  if($('.mbl__toggle.active').length >= 1) {
                                      $mobileGroupRow.siblings().removeClass('active-panel');
                                      // $('.ofisa__panelGroup-row .active-panel').removeClass('active-panel');
                                      $mobileGroupRow.addClass('active-panel').siblings().find('.active-panel').removeClass('active-panel');
                                      $mobileGroupRow.siblings().find('.mobile__panelGroup').stop(true).slideUp(300);
                                      $mobileGroupRow.siblings().find('.mbl__toggle.active').removeClass('active').addClass('inactive');
                                  }
                                  setTimeout(function() {
                                      $('html, body').animate({
                                          scrollTop: $mobileGroupRow.offset().top - (headerHeight) - 1
                                      }, {
                                          duration: 1200,
                                          easing: 'easeInOutExpo'
                                      });
                                  }, 300);
                              }else if($__self.hasClass('active')) {
                                  $__self.addClass('inactive').removeClass('active');
                                  $mobileGroupRow.removeClass('active-panel');
                                  $mobileTopTarget.stop(true).slideToggle(350);
                                  // Trigger the first list of each group
                              }
                              e.preventDefault();
                           });
                        });

                        // Building second level accordion for mobile screens
                        var $subItems = $('.mbl__inner-toggle'),
                            $subItemsParent = $('.ofisa__vAccor-block'),
                            $subBlock = $('.mobile--panel-block');

                        $subItems.each(function() {
                            var $__that = $(this),
                                $subItemsParent = $__that.closest('.ofisa__vAccor-block'),
                                $subBlockTarget = $subItemsParent.find('.' + $__that.attr('data-panel'));
                            $__that.on('click', function(e) {
                                if(!$__that.hasClass('active')) {
                                    $__that.addClass('active').removeClass('inactive');
                                    // $subItemsParent.addClass('active-panel');
                                    $subBlockTarget.stop(true).slideToggle(350);
                                    if($('.mbl__inner-toggle.active').length >= 1) {
                                        // $subItemsParent.siblings().removeClass('active-panel');
                                        $subItemsParent.siblings().find($subBlock).stop(true).slideUp(300);
                                        $subItemsParent.siblings().find('.mbl__inner-toggle.active').removeClass('active').addClass('inactive');
                                    }
                                    setTimeout(function() {
                                        $('html, body').animate({
                                            scrollTop: $subItemsParent.offset().top - (headerHeight) - 1
                                        }, {
                                            duration: 1200,
                                            easing: 'easeInOutExpo'
                                        });
                                    }, 300);
                                }else if($__that.hasClass('active')) {
                                    $__that.addClass('inactive').removeClass('active');
                                    $subBlockTarget.stop(true).slideToggle(350);
                                }
                                e.preventDefault();
                            });
                        });

                    </script><!-- /.#Script to show relative block with data-block attributes -->
                </div>
            </div>
        </div><!-- /.#Property Management group list accordion -->
    </div><!-- Ofisa container -->
</section><!-- /.#Ofisa Property Management vertical accordion section -->