<section class="cms__cyan-section ofisa__team-portfolio-section text-center" data-section-type="default" data-hover="true">
    <div class="ofisa-container ofisa__sub-container">
        <div class="ofisa__postEntry-row">
            <h2>{{ layout.title }}</h2>
            <p>{{ layout.sub_title }}</p>
            <!-- Ofisa team portfolio filter row -->
            <div class="ofisa__team-filter-row">
                <!-- Portfolio filter button row -->
                <div class="ofisa__filter-btn-row">
                    <span id="mobile-filter-label" class="visible-xs" data-target="ofisa__filter-group-row">Filter List</span>
                    <div class="ofisa__filter-group-row">
                        <ul class="ofisa__filter-btn-group button-group filters-button-group">

                            <li class="ofisa__filter-items hidden"><a href="" class="btn btn-black ofisa__filter-btn" data-filter="*">All</a></li>
                            {% set selected = "" %}
                            {% for key, value in team_grid_categories %}
                                {% if loop.index == 1 %} {% set selected = value %} {% endif %}
                                 <li class="ofisa__filter-items"><a href="" class="btn btn-black ofisa__filter-btn {% if loop.index == 1 %}is-filtered {% endif %}" data-filter=".{{ key }}">{{ value }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div><!-- /.#Portfolio filter button row -->

                <!-- Portfolio filter blocks row -->
                <div id="ofisa__portfolio-filter-row" class="ofisa__filter-row ofisa__portfolio-filter-row clearfix">

                    <div class="col-sm-3 col-xs-6 ofisa__filter-col ofisa__filteredTitle-col {% for key, value in team_grid_categories %} {{ key }} {% endfor %}" data-color-type="ofisa__black">
                        <div class="ofisa__filter-caption">
                            <h2 id="ofisa__filter-title" class="ofisa__filter-title animate">{{ selected }}</h2>
                        </div>
                    </div>

                   {#  {% set foo =  %} #}
                    {# {{ foo | print_r}} #}
                    {% set shuffel_array = function('generate_array',layout.team_members|length)%}
                        {# {{ shuffel_array | print_r}} #}
                   {#  {{layout.team_members|length | print_r }} #}

                    {% for item in shuffel_array %}
                        <div class=" col-sm-3 col-xs-6 {% for value in layout.team_members[item].categories %} {{ value }} {% endfor %} ofisa__filter-col js-hover-box">
                           
                            <div class="ofisa__col-content">
                                <figure class="ofisa__team-image">
                                    <img src="{{ layout.team_members[item].image.url }}" alt="" />
                                </figure>
                                <div class="ofisa__filter-caption">
                                    <h2>{{ layout.team_members[item].full_name }}</h2>
                                    <p>{{ layout.team_members[item].function }}</p>
                                </div>
                            </div>
                        </div>
                            {# {{ layout.team_members[item] | print_r }} #}

                    {% endfor %}
                </div><!-- /.#Portfolio filter blocks row -->

                 <script>
                                // Function to add animation on about us portfolio cols on window scroll
                                function revealOnscreen($elem) {
                                    if($elem.length === 0) return;
                                    $elem.each(function (index, el) {
                                        var $self = $(this);
                                        if(isScrolledIntoView($self)) {
                                            $self.addClass('fadeIn-animated');
                                            var animatedLen = $('.fadeIn-animated').length;
                                            var animateDelay = 1 + (animatedLen * 0.20);
                                            $self.find('>div').css({
                                                '-webkit-animation-delay': animateDelay + 's',
                                                '-moz-animation-delay': animateDelay + 's',
                                                'animation-delay': animateDelay + 's'
                                            });
                                        }
                                        $(window).on('scroll', function() {
                                            if(!$self.hasClass('fadeIn-animated') && $self.is(':visible')) {
                                                if(isScrolledIntoView($self)) {
                                                    $self.addClass('fadeIn-animated');
                                                    var animatedLen = $('.fadeIn-animated').length;
                                                    var animateDelay = 1 + (animatedLen * 0.20);
                                                    $self.find('>div').css({
                                                        '-webkit-animation-delay': animateDelay + 's',
                                                        '-moz-animation-delay': animateDelay + 's',
                                                        'animation-delay': animateDelay + 's'
                                                    });
                                                }
                                            }
                                        });//.trigger('scroll');
                                    });
                                }

                                // Caching DOM elements into juery objects
                                var $grid = $('#ofisa__portfolio-filter-row'),
                                        $gridCol = $grid.find('.ofisa__filter-col:not(.ofisa__filteredTitle-col)'),
                                        $categoryTitle = $('.ofisa__filter-title'),
                                        $isPrefiltered = $('.ofisa__filter-btn.is-filtered'),
                                        prefilteredData = $isPrefiltered.data('filter'),
                                        $elem = $('#mobile-filter-label');

                                $gridCol.removeClass('filtered-col fadeIn-animated').hide();

                                $gridCol.filter(function() {
                                    return $(this).is(prefilteredData);
                                }).addClass('filtered-col').show();

                                // Updating selected category name in mobile filter list
                                $elem.text($isPrefiltered.text());

                                // Init revealOnscreen
                                revealOnscreen($('#ofisa__portfolio-filter-row .ofisa__filter-col.filtered-col'));

                                // Building filter in team portfolio section
                                // Bind filter button click
                                $('.ofisa__filter-btn-group').on( 'click', '.ofisa__filter-btn', function(e) {
                                    var filterValue = $( this ).attr('data-filter'),
                                            filterText = $( this ).text();
                                    setTimeout(function() {
                                        // Filtering items with data filter value of each category button
                                        $gridCol.removeClass('filtered-col fadeIn-animated').hide();
                                        $gridCol.filter(function() {
                                            return $(this).is(filterValue);
                                        }).addClass('filtered-col').show();
                                        // Init revealOnscreen
                                        revealOnscreen($('#ofisa__portfolio-filter-row .ofisa__filter-col.filtered-col'));
                                        $('#ofisa__portfolio-filter-row .ofisa__filter-col:not(.filtered-col)').removeClass('fadeIn-animated');
                                    }, 400);
                                    if(!$( this ).hasClass('is-filtered')) {
                                        // Updating the text of selected category text holder
                                        $categoryTitle.removeClass('animate');
                                        setTimeout(function() {
                                            $categoryTitle.text(filterText);
                                            $categoryTitle.addClass('animate');
                                        }, 1200);
                                    }
                                    e.preventDefault();
                                });
                                // change is-filtered class on buttons
                                $('.ofisa__filter-btn-group').each( function( i, buttonGroup ) {
                                    var $buttonGroup = $( buttonGroup );
                                    $buttonGroup.on( 'click', '.ofisa__filter-btn', function(e) {
                                        $buttonGroup.find('.is-filtered').removeClass('is-filtered');
                                        $( this ).addClass('is-filtered');
                                        e.preventDefault();
                                    });
                                });

                            </script><!-- /.#Initializing isotope to layout the col and build filter -->

                            <!-- Mobile filter toggle function -->
                            <script>

                                // Caching DOM elements into juery objects
                                var dataTarget = $elem.data('target'),
                                        $target = $('.' + $elem.attr('data-target')),
                                        $filterBtn = $target.find('.ofisa__filter-btn');

                                // Attaching click event on $elem
                                $elem.on('click', function() {
                                    if(!$elem.hasClass('opened')) {
                                        $elem.addClass('opened').removeClass('closed');
                                        $target.stop(true).slideToggle(400);
                                    }else if($elem.hasClass('opened')) {
                                        $elem.addClass('closed').removeClass('opened');
                                        $target.stop(true).slideToggle(400);
                                    }
                                });

                                // Updating $elem text value
                                $filterBtn.each(function() {
                                    var $self = $(this),
                                            selfText = $self.text();
                                    $self.on('click', function(e) {
                                        $elem.text(selfText);
                                        $elem.addClass('closed').removeClass('opened');
                                        if($(window).innerWidth() <= 767 - 17) {
                                            $target.stop(true).slideToggle(300);
                                        }
                                        // Preventing default behavior of 'a' element
                                        e.preventDefault();
                                    });
                                });
                            </script><!-- /.#Mobile filter toggle function --><!-- /.#Mobile filter toggle function -->
            </div><!-- /.#Ofisa team portfolio filter row -->
        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- /.#Ofisa container -->
</section><!-- /.#Ofisa About us page team filter portfolio section -->