{% block html_head_container %}
  {% include 'template-parts/header.twig' %}
  {% block head %}
  {% endblock %}
{% endblock %}

{% block content %}
  Sorry, no content
{% endblock %}

{% block html_footer_container %}
  {% block footer %}
  {% endblock %}
  {% include 'template-parts/footer.twig' %}
{% endblock %}




