{% extends "base.twig" %}
{% block content %}
  <!-- Ofisa CMS hero-banner section -->
<section class="cms__lightBlue-section cms__boxText-section " data-section-type="default">
    <div class="ofisa-container ofisa__sub-container">
        <!-- Ofisa CMS post entry row -->
        <div class="ofisa__postEntry-row">
          <h4> {{ post.get_field('enterprise') }}</h4>
          <h6> Réponse : {{ post.get_field('top_check_box') }}</h6>
          <h6> Entreprise : {{ post.get_field('enterprise') }}</h6>
          <h6> Adresse : {{ post.get_field('address') }}</h6>
          <h6> Localité : {{ post.get_field('location') }}</h6>
          <h6> Téléphone : {{ post.get_field('telephone') }}</h6>

          <br>
         <p>{{ function('get_ateliers',  post.get_field('ateliers')  ) }}</p>
         

        </div><!-- /.#Ofisa CMS post entry row -->
    </div><!-- Ofisa container -->
</section>
{% endblock %}