<footer id="ofisa-colphon" class="ofisa-footer ofisa-main-footer" role="contentinfo">
	<div class="ofisa-footer-row">
		<div class="ofisa-container ofisa__sub-container">
			<!-- Ofisa footer col wrapper row -->
			<div class="clearfix ofisa-row">
				<div class="col-sm-4 col-xs-12 ofisa__footer-col">
					<div class="ofisa-col-content">
						{{options.footer_left_column}}
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 ofisa__footer-col">
					<div class="ofisa-col-content">
						{{options.footer_mid_column}}
					</div>
				</div>
				<div class="col-sm-5 col-xs-12 ofisa__footer-col">
					<div class="ofisa-col-content">
						{{options.footer_right_column}}
					</div>
				</div>
			</div><!-- /.#Ofisa footer col wrapper row -->
		</div>
	</div>



	<div class="notification-bar js-notification cookie-message hidden">
		<div class="notification-bar__content">
			<button id="js-close-bar" role="button"><i class="icon-dismiss" ></i></button>
            {{options.cookie_text}}

            {#
                        <p>En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies permettant notamment d’en mesurer l’audience et de vous proposer des contenus adaptés à vos centres d’intérêt. <a class="button-line button-line--default" href="http://server.procab-dev.com/~regibory/bory-immobilier/politique-de-protection-des-donnees/" target="_blank" rel="noopener">Voir la déclaration de protection des données.</a></p>
            #}
		</div>
	</div>

	<script>
      ;(function() {
            var offisaBarSeen = localStorage.getItem('offisaCookieSeen');
            if (!offisaBarSeen) {
                document.querySelector('.cookie-message').classList.remove('hidden');
            }

            var barCloser = document.getElementById('js-close-bar');
            barCloser.addEventListener('click', function(e) {
                document.querySelector('.cookie-message').parentNode.removeChild(document.querySelector('.cookie-message'));
                localStorage.setItem('offisaCookieSeen', true);
                e.preventDefault();
            });

        })();
	</script>





</footer>

</div><!-- /.#Ofisa inner wrapper -->
</div><!-- /.#Ofisa outer wrapper -->
<!-- Sticky news -->
<div id="sticky-sidebar-news" class="sidebar-news sidebar-news--sticky">
	<div class="close"><span><i class="icon icon-news"></i></span></div>
	<div class="sidebar-news-inner">
		<div class="sidebar-news-holder">
			{% for item in options.sidebar_sticky_menu %}
                <div class="v-news-card" data-color-type="{% if loop.index == 1 %}ofisa__black{% endif %}{% if loop.index == 2 %}ofisa__red{% endif %}{% if loop.index == 3 %}ofisa__blue{% endif %}">
					<h3 class="v-news-card__title">{{item.title}}</h3>
					<p>{{item.description}}</p>
					<span class="btn btn-white btn-transparent">Cliquez ici</span>
					<a href="{{item.link}}" class="fake__link"></a>
				</div>
            {% endfor %}
		</div>
	</div><!-- /.Sticky inner news ends -->
</div><!-- /.Sticky news ends -->

<!-- Sticky news module script -->
<script>
	;(function(w, d, undefined) {
		"use strict";
		var stickyNewsModule = d.querySelector('.sidebar-news--sticky');
		var closeNode = stickyNewsModule.querySelector('.close');
		var isClicked = false;

		setTimeout(function() {
			stickyNewsModule.classList.add('show');
			stickyNewsModule.classList.remove('invisible');
		}, 1000);
		setTimeout(function() {
			stickyNewsModule.classList.remove('show');

			// == Bind on click event to toggle panel
			closeNode.addEventListener('click', togglePanel);

			function togglePanel() {
				$(stickyNewsModule).toggleClass('show');
				$(closeNode).toggleClass('active');
				isClicked = true;
			}

			d.addEventListener('click', function(e) {
				if (isClicked === false) return;
				var container = $('#sticky-sidebar-news');
		    	// if the target of the click isn't the container nor a descendant of the container
			    if (!container.is(e.target) && container.has(e.target).length === 0) {
			    	if ($(closeNode).hasClass('active')) {
			    		console.log(isClicked)
						togglePanel();
						isClicked = false;
					}
			    }
			});
		}, 3000);
	})(window, document, undefined);
</script>

<div class="ofisa__backTop-wrapper">
	<a href="" id="ofisa__backTop" class="ofisa__backTop"><i class="top__arrow"></i></a>
</div><!-- /.#Ofisa back to top -->

<style>
	.hide {
		display: none !important;
	}
</style>

{{function('wp_footer')}}
</body>
</html>