.notification-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 10002;
  margin-right: auto;
  margin-left: auto;
  padding: .5rem 1.25rem;
  background: #111;
  color: #fff;
  width: 100%;
  -webkit-transition: all ease 0.35s;
  transition: all ease 0.35s;
  max-width: 1200px;

  a{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }

  button{
    position: absolute;
    top: 5px;
    right: 15px;
    background: transparent;
    border: 0;
    outline: 0;
  }


}

.icon-dismiss {
  width: 20px;
  height: 20px;
  display: block;
  opacity: 0.3;

  &:hover{
    opacity: 1;
  }

  &:before, &:after{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: $white-color;
  }

  &:before{
    transform: rotate(45deg);
  }

  &:after{
    transform: rotate(-45deg);
  }
}



.page-loaded .notification-bar {
  opacity: 1;
}