/* Defining style rules for box layout of the theme */

/* Defining style rules for containers */

[class*=-container] {
  margin: 0 auto;
  width: 100%;

  &.#{$ns}__main-container,
  &.#{$ns}__sub-container{
    max-width: 1206px;
  }

  @include media(">maxWidth") {

    &.#{$ns}__sub-container {

      /* body.#{$ns}-innerpage-template & {
        padding: 0 43px;
      } */
      padding: 0 43px;
    }
  }

  @include media("<=laptop") {
    &.#{$ns}__main-container {
      padding: 0 15px;
    }
  }

  @include  media("<=maxWidth") {
    /* &.#{$ns}__main-container {
      padding: 0 15px;
    } */

    &.#{$ns}__sub-container {

      body.#{$ns}-innerpage-template & {
        padding: 0 15px;
      }

      body.#{$ns}-homepage-template & {
        padding: 0 15px;
      }
    }
  }
}

[class*=__valign],
[class*=-valign]{
  display: inline-block;
  float: none;
}

.#{$ns} {

  &__row-fixer {
    display: table;
    margin: 0 0;
    width: 100%;
    font-size: 0;

    > [class*="col-"] {
      padding: 0 0;
    }
  }

  &__valign-top {
    vertical-align: top;
  }

  &__valign-middle {
    vertical-align: middle;
  }

  &__valign-bottom {
    vertical-align: bottom;
  }
}

/* Extending bootstrap default row as per requirement */

h2 {
  + .#{$ns}-row {
    @include media(">laptop") {
      margin-top: 48px;
    }
  }
}

.#{$ns}-row {

  #ofisa-colphon & {

    @include media(">laptop") {
      margin: 0 -43px;
    }

    @include media("<=laptop") {
      margin: 0 -15px;
    }

    > [class*="col-"] {

      @include media(">laptop") {
        padding: 0 43px;
      }

      @include media("<=laptop") {
        padding: 0 15px;
      }
    }
  }

  /* Property management vertical accordion section */

  .ofisa__proMgmt-group-section & {

    @include media(">laptop") {
      margin-right: -43px;
      margin-left: -43px;
      > [class*="col-"] {
        padding: 0 43px;
      }
    }

    @include media("<=laptop", ">ipad") {
      margin: 0 -25px;
      > [class*="col-"] {
        padding: 0 25px;
      }
    }

    @include media("<=ipad") {
      margin: 0 -20px;
      > [class*="col-"] {
        padding: 0 20px;
      }
    }
  }

  /* For 3/2 cols/boxes row */

  .ofisa__boxText-section & {

    @include media(">laptop") {
      margin-right: -45px;
      margin-left: -45px;
      > [class*="col-"] {
        padding: 0 45px;
      }
    }

    @include media("<=laptop", ">ipad") {
      margin: 0 -25px;
      > [class*="col-"] {
        padding: 0 25px;
      }
    }

    @include media("<=ipad") {
      margin: 0 -20px;
      > [class*="col-"] {
        padding: 0 20px;
      }
    }
  }

  /* For 3/2 cols/boxes row */

  .ofisa__half-boxText-section & {
    @include media(">laptop") {
      margin-right: -45px;
      margin-left: -45px;
      > [class*="col-"] {
        padding: 0 45px;
      }
    }

    @include media("<=laptop", ">ipad") {
      margin: 0 -25px;
      > [class*="col-"] {
        padding: 0 25px;
      }
    }

    @include media("<=ipad") {
      margin: 0 -20px;
      > [class*="col-"] {
        padding: 0 20px;
      }
    }
  }

  /* For one third  cols/boxes row */

  .ofisa__oneThird-textImg-section &,
  .ofisa__contactUs-section & {

    @include media(">laptop") {
      margin-right: -45px;
      margin-left: -45px;
      > [class*="col-"],
      > .ofisa__flexbox {
        padding: 0 45px;
      }
    }

    @include media("<=laptop", ">ipad") {
      margin: 0 -25px;
      > [class*="col-"],
      > .ofisa__flexbox {
        padding: 0 25px;
      }
    }

    @include media("<=ipad") {
      margin: 0 -20px;
      > [class*="col-"],
      > .ofisa__flexbox {
        padding: 0 20px;
      }
    }
  }

}

/* Defining style rules for custom grid cols */

.#{$ns} {

  &__logo-col {
    width: 12.77%;
  }

  &__navigation-col {
    width: 87.23%;
  }
}

/* Defining style rules for boxes in smartphones */

[class*="col-"],
.ofisa__flexbox {

  @include media("<=smart-phone") {
    &:not(.ofisa__logo-col):not(:last-of-type):not([data-col-type="image"]):not(.ofisa__list-group-col):not(.ofisa__threeThird-flexbox):not(.ofisa__flexbox):not(.ofisa__filter-col) {
      margin-bottom: 25px;
    }
  }
}