/* Defining style rules for header of the theme */

.#{$ns} {
  &-masthead {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 111;

    body.has__video & {
      background: $white-color;
      @include box-shadow(0, 0, 10px, -3px, rgba(0, 0, 0, .25));

      @include media(">ipad") {
        padding: 25px 0;
      }
    }

    @include media("<=ipad") {

      background: $white-color;
      @include box-shadow(0, 0, 10px, -3px, rgba(0, 0, 0, .25));

      .ofisa__navbar-header {
        position: absolute;
        top: 50%;
        right: 0px;
        margin-top: -11px;
        width: 35px;
      }

      .navbar-toggle {
        display: block;
        .icon-bar {
          display: block;
          width: 35px;
          height: 4px;
          border-radius: 5px;
          background: $primary-color;
          transition: all ease-in-out 0.35s;

          + .icon-bar {
            margin-top: 5px;
          }
        }

        &.opener {
          .icon-bar {
            transform: rotate(140deg);
            transition: all ease-in-out 0.35s;

            &:first-of-type {
              position: relative;
              top: 12px;
            }

            &:nth-of-type(2) {
              pointer-events: none;
              opacity: 0;
            }

            &:last-of-type {
              position: relative;
              top: -6px;
              transform: rotate(40deg);
            }
          }
        }

      }
    }

    .ofisa-homepage-template & {

      @include media(">laptop") {
        padding: 35px 0;
        transition: all linear 0.35s;

        &.ofisa__sticky {
          padding: 15px 0;
          background: $white-color;
          @include box-shadow(0, 0, 10px, -3px, rgba(0, 0, 0, .25));
        }
      }

      @include media("<=laptop", ">ipad") {
        padding: 20px 0;
        transition: all linear 0.35s;

        &.ofisa__sticky {
          padding: 15px 0;
          background: $white-color;
          @include box-shadow(0, 0, 10px, -3px, rgba(0, 0, 0, .25));
        }
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 15px 0;
      }

      @include media("<=smart-phone") {
        padding: 11px 0;
      }
    }

  }

  &__logo {
    margin: 0 0;

    @include media(">ipad") {

      img {
        width: 100%;
        transition: all linear 0.35s, width linear 0.35s;
      }

      .ofisa__sticky & {
        img {
          max-width: 80%;
        }
      }
    }

    @include media("<=ipad", ">smart-phone") {
      img {
        max-width: 130px;
      }
    }
    @include media("<=smart-phone") {
      img {
        max-width: 120px;
      }
    }
  }
}

/* Defining style rules for inner page header */

body:not(.#{$ns}-homepage-template) {

  /* Referencing body as root element */

  .ofisa-masthead {

    background: $white-color;
    @include box-shadow(0, 0, 10px, -3px, rgba(0, 0, 0, .25));

    @include media(">ipad") {
      padding: 20px 0;
      transition: all linear 0.35s;

      &.ofisa__sticky {
        padding: 14px 0;
      }
    }

    @include media("<=ipad", ">smart-phone") {
      padding: 15px 0;
    }

    @include media("<=smart-phone") {
      padding: 11px 0;
    }
  }
}

/* Social media group scss */

.ofisa__header-social-row {
  position: absolute;
  top: 50%;
  z-index: $one-index;
  transition: all linear 0.75s;
  transition-timing-function: cubic-bezier(.21,.56,.34,.77);

  @include media(">lg-screen") {
    right: -24%;
  }

  @include media("<=lg-screen", ">widescreen") {
    right: -15%;
  }

  @include media("<=widescreen", ">desktop") {
    right: -8%;
  }

  @include media("<=desktop", ">laptop") {
    right: 0;
  }

  @include media("<=laptop") {
    right: 0;
  }

  @include media(">ipad") {
    transform: translateY(-50%);
  }

  @include media("<=ipad") {
    right: 60px;
    margin-top: -10px;
  }

  #ofisa__social-group {
    margin: 0 -9px;
    line-height: 1;
  }

  li {
    display: inline-block;
    padding: 0 9px;

    .icon {
      color: $gray-color;
      transition: all ease-in-out 0.35s;

      @include media(">ipad") {
        font-size: 1.25rem;
      }

      @include media("<=ipad", ">smart-phone") {
        font-size: 1.5rem;
      }

      @include media("<=smart-phone") {
        font-size: 1.45rem;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}