/* -------------------------------------------------------------------- */

/* ****************************** NAMESPACE *************************** */

/* -------------------------------------------------------------------- */

$ns:					"ofisa";
$img-path:				"../images/";

/* ------------------------------------------------------------------------------- */

/* ****************************** Variable Declaration *************************** */

/* ------------------------------------------------------------------------------- */

/**
Theme default colors
*/

$primary-color: #f1565d;
$default-color: #606f81;
$light-red: #f8abae;
$gray-color: #dbdde1;
$white-color: #ffffff;
$black-color: #464c53;
$secondary-color: $black-color;
$dark-gray: #cccccc;
$light-blue: #f4f9ff;
$ash-color: #a3a6a9;
$cyan-color: #eeeeee;
$bullet-color: #c3c7cc;
$lightBlack-color: #535c66;
$btn-color: #f4f5ff;

/**
Theme font faces, size, height etc...
*/

$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-height: 1.625em;

$uc: uppercase;
$lc: lowercase;
$caps: capitalize;

/* Z-index variables */

$negative: -1;
$zero-index: 0;
$one-index: 1;
$higher-index: 2;
$super-index: 3;

/* Form field place holder @mixin */

@mixin placeholder($selector, $color, $font-size, $font-family, $case) {
  #{$selector}::-webkit-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
  #{$selector}::-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
  #{$selector}:-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
  #{$selector}:-moz-placeholder {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: $case;
  }
}

/* Box shadow @mixin */

@mixin box-shadow($x: 0, $y: 0, $d: 10px, $s: -3px, $color: rgba(0, 0, 0, 0.35)) {
  box-shadow: $x $y $d $s $color;
}

/**
prefixes vendor
*/
$prefixes: ("-moz-", "");
@mixin selection($bkg: $primary-color, $color: $white-color) {
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      background: $bkg;
      color: $color;
    }
  }
}