
.vertical-accordion-panel .vertical-accordion-group .vertical-accordion-group {
  display: none
}

@media (min-width: 768px) {
  .vertical-accordion-panel .vertical-accordion-group > li > .vertical-accordion-group li > a {
    padding-left: 25px
  }
}

@media (min-width: 768px) {
  .vertical-accordion-panel .vertical-accordion-group li > .vertical-accordion-group > li > .vertical-accordion-group li > a {
    padding-left: 35px
  }
}

.vertical-accordion-panel .vertical-accordion-group > li > a.active {
  color: #f1565d
}

.sidebar-news--sticky {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding-top: 55px;
  background-color: #f1565d;
  transform: translateX(100%);
  transition: all ease-out 0.25s
}

@media (min-width: 768px) {
  .sidebar-news--sticky {
    top: 50%;
    right: 0;
    left: auto;
    bottom: auto;
    margin-top: 23px;
    padding-top: 0px;
    width: 300px;
    transform: translateX(100%) translateY(-50%)
  }
}

@media (max-width: 767px) {
  .sidebar-news--sticky .sidebar-news-inner {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 50px;
    background-color: #606f81
  }
}

.sidebar-news--sticky .close {
  position: absolute;
  top: 70px;
  left: -52px;
  opacity: 1;
  z-index: 1;
  padding: 7px 12px;
  background-color: #ef3e46;
  border-radius: 5px 0 0 5px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase
}

@media (min-width: 768px) {
  .sidebar-news--sticky .close {
    top: 50%;
    left: -68px;
    padding: 12px 20px;
    transform: translateY(-50%);
    transition: all ease-in-out 0.35s
  }
}

.sidebar-news--sticky .close:hover {
  background-color: #ed2730
}

.sidebar-news--sticky .close::before, .sidebar-news--sticky .close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  content: "";
  background-color: #fff;
  border-radius: 5px;
  height: 5px;
  width: 30px;
  transform: translate3d(-50%, -50%, 0) rotate(45deg)
}

.sidebar-news--sticky .close::after {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg)
}

.sidebar-news--sticky .close .icon {
  display: inline-block;
  font-size: 28px;
  vertical-align: middle
}

.sidebar-news--sticky.show {
  opacity: 1;
  transform: translateX(0%)
}

@media (min-width: 768px) {
  .sidebar-news--sticky.show {
    transform: translateX(0%) translateY(-50%)
  }
}

@media (max-width: 767px) {
  .sidebar-news--sticky.show .close {
    top: 5px;
    right: 0px;
    left: auto;
    background-color: transparent
  }
}

.sidebar-news--sticky.show .close::before, .sidebar-news--sticky.show .close::after {
  opacity: 1
}

.sidebar-news--sticky.show .close > span {
  opacity: 0
}

.v-news-card {
  position: relative;
  padding: 1.125rem 1.25rem 1.25rem;
  font-size: 13px;
  line-height: 1.44;
  transition: all ease-in-out 0.35s
}

.v-news-card[data-color-type="ofisa__red"]:hover {
  background-color: #ef3e46
}

.v-news-card[data-color-type="ofisa__black"]:hover {
  background-color: #3a3f45
}

.v-news-card[data-color-type="ofisa__blue"]:hover {
  background-color: #556272
}

.v-news-card__title {
  margin-bottom: 0.5rem
}

.v-news-card span.btn {
  margin-top: 1rem;
  padding: 8px 15px;
  min-width: auto
}

.no-scroll #masthead {
  z-index: 999999
}

.gap-p-eq {
  padding: 2.143rem 0
}

@media (min-width: 1025px) {
  .gap-p-eq {
    padding: 5rem 0
  }
}

.block__title.is-lined {
  position: relative;
  padding-bottom: 1.5rem
}

.block__title.is-lined::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #f1565d;
  height: 1px;
  width: 60px
}

.invitation-form-row:not(:last-of-type) {
  margin-bottom: 2rem
}

.invitation-table__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center
}

.invitation-table__header-i {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 15px;
  background-color: #ccc;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase
}

@media (min-width: 768px) {
  .invitation-table__header-i.lg {
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
    max-width: 27%
  }
}

.invitation-table__header-i.eq, .invitation-table__header-i.sm {
  border-left: 1px solid #b3b3b3;
  text-align: center
}

@media (min-width: 768px) {
  .invitation-table__header-i.eq, .invitation-table__header-i.sm {
    -ms-flex: 0 0 18.25%;
    flex: 0 0 18.25%;
    max-width: 18.25%
  }
}

.text-small {
  margin-top: 0.25rem;
  font-size: 12px
}

.js-tab-item {
  cursor: pointer
}

.js-tab-item.is-active {
  background-color: #f1565d;
  color: #fff
}

.invitation-table__body {
  padding: 3rem 0 0
}

.invitation-table__row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -10px
}

.invitation-table__row:not(:last-of-type) {
  margin-bottom: 2rem
}

.invitation-table__col {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 10px;
  margin-bottom: 1.25rem
}

@media (min-width: 768px) {
  .invitation-table__col {
    position: relative;
    margin-bottom: 0;
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
    max-width: 27%
  }
}

.invitation-table__col.lg {
  margin-bottom: 0
}

@media (min-width: 768px) {
  .invitation-table__col.lg {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
}

.remove-row-holder {
  position: absolute;
  top: 0;
  right: 12px
}

.remove-row-holder .remove-row-btn {
  position: relative;
  display: block;
  width: 17px;
  height: 17px
}

.remove-row-holder .remove-row-btn::before, .remove-row-holder .remove-row-btn::after {
  position: absolute;
  left: 7px;
  content: ' ';
  height: 17px;
  width: 3px;
  background-color: #464c53;
  transform: rotate(45deg)
}

.remove-row-holder .remove-row-btn::after {
  transform: rotate(-45deg)
}

.invitation-table__col .form-group:not(:last-of-type) {
  margin-bottom: 0.5rem
}

@media (min-width: 768px) {
  .invitation-table__body-3tabs .invitation-table__col.lg {
    -ms-flex: 0 0 54.5%;
    flex: 0 0 54.5%;
    max-width: 54.5%
  }
}

@media (min-width: 768px) {
  .invitation-table__body-4tabs .invitation-table__col.sm {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%
  }
}

@media (min-width: 768px) {
  .invitation-table__body-4tabs .invitation-table__col.lg {
    -ms-flex: 0 0 67%;
    flex: 0 0 67%;
    max-width: 67%
  }
}

.invitation-form .inline-form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px
}

.inline-form-group .fancy-field-group {
  padding: 0 10px;
  line-height: 1;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center
}

.inline-form-group label {
  padding: 0 0 !important
}

.invitation-table-cat-header.is-first {
  margin-bottom: 1.25rem;
  font-size: 14px;
  font-weight: 600
}

@media (min-width: 768px) {
  .invitation-table-cat-header.is-first {
    margin: -25px 0 2.25rem
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .invitation-table-cat-header.is-first {
    font-size: 12px
  }
}

@media (max-width: 767px) {
  .invitation-table-cat-header {
    margin-top: 1rem
  }
}

.invitation-table-cat-header ~ .js-tab-panel {
  margin-top: 2.25rem
}

@media (min-width: 768px) {
  .invitation-table-cat-header ~ .js-tab-panel {
    margin-top: 3.125rem
  }
}

.js-tab-panel {
  display: none !important
}

.js-tab-panel .invitation-table__col-inner {
  width: 100%
}

.js-tab-panel.active {
  display: -ms-flexbox !important;
  display: flex !important
}

@media (min-width: 768px) {
  .js-tab-panel:not(.cat-header-list) {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: block !important;
    transition: all ease-out 0.35s
  }

  .js-tab-panel:not(.cat-header-list).active {
    position: static;
    pointer-events: auto;
    opacity: 1;
    visibility: visible
  }
}

.btn-inline-group {
  display: -ms-flexbox;
  display: flex
}

.btn-inline-group .btn:not(:last-child) {
  margin-right: 1rem
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important
}

@media (max-width: 766px) {
  .justify-content-xs-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
  }
}

.xs-cat-list {
  display: none;
  background-color: #fff
}

.xs-cat-list > li:not(:last-of-type) {
  border-bottom: 1px solid #ccc
}

.xs-cat-list > li.is-active {
  margin-top: -1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff
}

.xs-cat-list > li.is-active:first-of-type {
  margin-top: 0
}

.xs-cat-list > li.is-active:last-of-type {
  border-bottom: 0
}

.xs-cat-list > li, .xs-dropdown-text {
  display: block;
  padding: 9px 20px;
  line-height: 1.25;
  font-size: 14px
}

.xs-cat-list > li .text-large, .xs-dropdown-text .text-large {
  margin-right: 0.5rem
}

@media (max-width: 767px) {
  .xs-dropdown .xs-dropdown-text {
    position: relative;
    background-color: #f1565d;
    color: #fff
  }

  .xs-dropdown .xs-dropdown-text::after {
    position: absolute;
    top: 50%;
    right: 20px;
    content: '';
    display: block;
    margin-top: -7px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: all ease-out 0.35s
  }

  .xs-dropdown .xs-dropdown-text.opened::after {
    margin-top: -3px;
    transform: rotate(-135deg)
  }
}

.text-primary {
  color: #f1565d !important
}

.invitation-table .h2 {
  margin-bottom: 1rem
}

.mt-0 {
  margin-top: 0 !important
}

.mb-0 {
  margin-bottom: 0 !important
}

#invitation-table__subfooter {
  margin-top: 2rem
}

.error {
  margin-top: 0.5rem;
  color: #f1565d;
  font-size: 0.875rem;
  line-height: 1
}