/* ---------------------------------------------------------------------------- */

/* ****************************** Common scss codes *************************** */

/* ---------------------------------------------------------------------------- */

/* Common css codes */

html {
	overflow-x: hidden;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;

	@include media(">ipad") {
		font-size: 100%;
		line-height: 1.625em;
	}

	@include media("<=ipad", ">smart-phone") {
		font-size: 90%;
		line-height: 1.625em;
	}

	@include media("<=smart-phone") {
		font-size: 84%;
		line-height: 1.75em;
	}

}
body {
	// overflow-x: hidden;
	background: $white-color;
	// min-height: 100%;
	color: $default-color;
	font-family: $base-font-family;
	font-size: 1rem;
	font-weight: $base-font-weight;
	-webkit-font-smoothing: antialiased;

	@include media(">smart-phone") {
		line-height: $base-height;
	}

	@include media("<=smart-phone") {
		line-height: $base-height + .175;
	}
}
* {
	margin: 0 0;
	padding: 0 0;
}

/**
Body Selection
*
*/

@include selection($primary-color, $white-color);

@include placeholder('.ofisa__form-control', $default-color, 1rem, $base-font-family, none);

*:focus{outline:none !important;}

p:last-child,
p:last-of-type,
.no-margin-bottom,
.of-last-col{
	margin-bottom: 0 !important;
}

a {
	text-decoration: none;
	transition: all linear 0.35s;
	&:hover, &:focus, &:active {
		text-decoration: none;
	}

	&:hover {
		color: $primary-color;
	}

	&:focus {
		color: $white-color;
	}
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

figure img {
	width: auto;

	@include media("<smart-phone") {
		/* width: 100%; */
	}
}

figure {

	> img {
		max-width: 100%;

		@include media(">smart-phone") {
			width: 100%;
		}
	}
}

p {
	margin-bottom: 15px;

	> a {
		color: $primary-color;
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
		}
	}
	+ a,
	+ span.btn {
		margin-top: 30px;
	}

	> a {

	}
}
ul, ol {
	margin: 0 0;
	list-style: none;

	li {
		list-style: none;
	}
}

/* Defining common style rules for heading tags */

h1, h2, h3, h4, h5, h6 {
	margin: 0 0;

	@include media(">smart-phone") {
		/* margin-top: -8px; */
	}
}

h1 {
	font-weight: $base-font-weight + 200;

	@include media(">desktop") {
		font-size: 3.750rem;
	}

	@include media("<=desktop", ">ipad") {
		font-size: 3rem;
	}

	@include media("<=ipad", ">smart-phone") {
		font-size: 2.75rem;
	}

	@include media("<=smart-phone", ">phone") {
		font-size: 2.25rem;
		line-height: 1.2;
	}

	@include media("<=phone") {
		font-size: 1.85rem;
		line-height: 1.1;
	}
}

h2 {
	font-weight: $base-font-weight - 100;
	text-transform: $uc;

	[data-section-type="default"] & {
		color: $default-color;
	}

	@include media(">desktop") {
		margin-bottom: 42px;
		font-size: 1.563rem;
	}

	@include media("<=desktop", ">ipad") {
		margin-bottom: 45px;
		font-size: 1.563rem;
	}

	@include media("<=ipad", ">smart-phone") {
		margin-bottom: 30px;
		font-size: 1.4rem;
	}

	@include media("<=smart-phone") {
		margin-bottom: 25px;
		font-size: 1.25rem;
	}
}

h3 {
	font-size: 0.875rem;
	font-weight: $base-font-weight + 200;
	text-transform: $uc;

	> span {
		text-transform: none;
		font-weight: $base-font-weight + 100;
	}

	@include media(">smart-phone") {
		margin-bottom: 28px;
	}

	@include media("<=smart-phone") {
		margin-bottom: 15px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

h4 {
	&:last-of-type,
	&:last-child {
		margin-bottom: 0;
	}

	+ {
		a {
			margin-top: 30px;
		}
	}

	@include media(">desktop") {
		font-size: 2.188rem;
		line-height: 3.438rem;
	}

	@include media("<=desktop", ">ipad") {
		font-size: 2.05rem;
		line-height: 2.8rem;
	}

	@include media("<=ipad", ">smart-phone") {
		font-size: 1.9rem;
		line-height: 2.7rem;
	}

	@include media("<=smart-phone") {
		font-size: 1.5rem;
		line-height: 2.15rem;
	}
}

h5 {
	margin-bottom: 25px;
	font-size: 1rem;
	text-transform: $uc;
}

h6{
	font-size: 1rem;

	@include media("<=smart-phone") {
		margin-bottom: 15px;
		line-height: 1.5rem;
	}
}

/* style rules for hidden elements */

.cms__hidden {
	display: none !important;
}