/* Defining style rules for commonly used utilities of the theme */

/* Creating namespace for button with btn prefix */

$btn: 'btn';

.#{$btn} {

  display: inline-block;
  vertical-align: top;
  padding: 13px 33px;
  border: 1px solid transparent;
  border-radius: 3px;
  min-width: 176px;
  color: $btn-color;
  font-size: 0.875rem;
  text-transform: $uc;
  line-height: 0.875rem;
  transition: all linear 0.5s;

  /* Red colored button */
  &-red {
    background: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      border: 1px solid $primary-color;
      color: $primary-color;
    }
  }

  /* White colored button */
  &-white {
    background: $white-color;
    border: 1px solid $white-color;
    color: $primary-color;

    &:hover {
      border: 1px solid $white-color;
      color: $white-color;
    }
  }

  /* Black colored button */

  &-black {
    background: $black-color;
    border: 1px solid $black-color;
    color: $black-color;

    &:hover {
      border: 1px solid $primary-color;
      color: $primary-color;
    }
  }

  /* different states for buttons */

  &:hover {
    background: transparent;
  }

  /* transparent button */

  &.btn-transparent {
    background: none;
    color: $white-color;

    &:hover {
      background: $white-color;
      color: $default-color;
    }
  }

}

/* Defining style rules for general tables elements in site */

table {

  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: $base-font-weight;

  tbody tr {
    &:nth-child(odd) {
      @include media(">smart-phone") {
        background: $cyan-color;
      }
    }
  }

  th, td {
    padding: 10px 10px;
    text-align: left;

    @include media(">smart-phone") {
      border: 1px solid $gray-color;
    }
  }

  @include media("<=smart-phone") {

    display: block;

    *:not(thead) {
      display: block;
    }

    thead {
      display: none;
    }

    tr {
      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
    }

    td {
      position: relative;
      border: 1px solid $gray-color;

      &:not(:last-of-type) {
        border-bottom: 0;
      }

      &:nth-child(odd) {
        background: $cyan-color;
      }

      &:before {
        content: attr(data-title) " : ";
        padding-right: 25px;
        float: left;
        font-weight: 700;
      }

    }

  }
}

Defining style rules for zopim chat box

.meshim_widget_components_chatButton_Button .button_bar {
  background: $primary-color !important;
}

/* Transform off */

.transformation__off {
  transform: none !important;
}

/* Back to top */

.ofisa__backTop-wrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: $higher-index;
  prevent-event: none;
  opacity: 0;
  transform: translateY(50px);
  transition: all ease-in-out 0.35s;

  &.animate {
    prevent-event: auto;
    opacity: 1;
    transform: translateY(0px);
  }

  .ofisa__backTop {

    width: 50px;
    height: 50px;

    .top__arrow {
      position: relative;
      top: 0;
      display: block;
      width: 50px;
      height: 50px;
      background: $primary-color;
      transition: all ease-in-out 0.35s;

      &:hover {
        top: -10px;
      }

      &:before {
        position: absolute;
        top: 50%;
        right: 50%;
        content: '';
        display: block;
        margin-top: -4px;
        margin-right: -8px;
        width: 15px;
        height: 15px;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        transform: rotate(-135deg);
      }
    }
  }

  @include media("<=smart-phone") {
    bottom: 90px;
  }
}

 ul {
  &.is__list-group {

    @include media(">smart-phone") {
      margin: 25px 0 50px;
    }

    li {
      position: relative;
      margin-bottom: 5px;
      padding-left: 30px;
      line-height: 1.625em;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        top: 11px;
        right: auto;
        bottom: auto;
        left: 0;
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        border: 2px solid;
        border-radius: 50%;
      }
    }
  }
}

.#{$ns} {
  &__naked-responsive-wrap {
    position: relative;
    overflow: hidden;
    display: block;
    margin-top: 50px;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* Parallax fixer */

.ofisa__parallax-fixer {
  position: relative;
  z-index: -9999999;
  opacity: 0;
}

/* Fake link with absolute position */

.fake__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $one-index;
  width: 100%;
  height: 100%;
}