<!DOCTYPE html>
<html {{site.language_attributes}}>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WBK4M2W');</script>
    <!-- End Google Tag Manager -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msvalidate.01" content="CB8EAEA2ECCE23041DFA315FC6CEFBCC" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="author" content="Les Roches a new site.">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
          <!-- #Bootstrap -->
          <link rel="shortcut icon" href="favicon.ico">
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
          {{function('wp_head')}}
           <script>  var $ = jQuery.noConflict(); </script>
      </head>
      <body class="{{body_class}}">
          <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WBK4M2W"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
      	<!-- Ofisa outer wrapper -->
      	<div id="ofisa-wrapper" class="ofisa-wrapper" role="main">
      		<div id="ofisa-inner-wrapper" class="ofisa-inner-wrapper">
      			<!-- Ofisa header -->
      			<header id="masthead" class="ofisa-masthead ofisa__mainHeader" role="banner">
      				<div class="ofisa-header-row">
      					<div class="ofisa-container ofisa__main-container">
      						<!-- Ofisa header col wrapper row -->
      						<div class="row clearfix ofisa__row-fixer">
      							<!-- Ofisa header logo col -->
      							<div class="col-sm-2 col-xs-12 ofisa__valign-middle ofisa__logo-col">
      								<figure class="ofisa__logo">
      									<a href="{{ site.link }}">
      										<img src="{{theme.link}}/images/logo.svg" alt="" class="ofisa__valign-top" />
      									</a>
      								</figure>
      							</div><!-- /.#Ofisa header logo col -->
      							<!-- Ofisa main navigation col -->
      							<div class="col-sm-10 col-xs-12 ofisa__valign-middle ofisa__navigation-col">
      								<!-- Ofisa and Supports Brand and toggle get grouped for better mobile display -->
      								<div class="navbar-header ofisa__navbar-header">
      									<a href="" class="navbar-toggle closer" data-target="ofisa__mobile-menu">
      										<span class="icon-bar"></span>
      										<span class="icon-bar"></span>
      										<span class="icon-bar"></span>
      									</a>
      								</div><!-- /.#Ofisa and Supports Brand and toggle get grouped for better mobile display -->
      								<!-- Ofisa mobile nav -->
      								<nav class="ofisa__mobile-menu ofisa__mobilenav-wrap" role="navigation">
      									<!-- Ofisa header navigation col row wrapper -->
      									<div class="row clearfix ofisa__row-fixer">
      										<!-- Ofisa header navigation left list group col -->
      										<div class="col-sm-5 col-xs-12 ofisa__valign-middle ofisa__list-group-col ofisa__left-list-group">
      											{{function('wp_nav_menu', top_left_menu)}}
      										</div><!-- /.#Ofisa header navigation left list group col -->

      										<!-- Ofisa header navigation right list group col -->
      										<div class="col-sm-7 col-xs-12 ofisa__valign-middle ofisa__list-group-col ofisa__right-list-group">
      											{{function('wp_nav_menu', top_right_menu)}}
      										</div><!-- /.#Ofisa header navigation rightt list group col -->
      									</div><!-- /#Ofisa header navigation col row wrapper -->
      								</nav><!-- /.#Ofisa mobile nav -->
      								<!-- Header floating social icons -->
      								<div class="ofisa__header-social-row">
      									<ul id="ofisa__social-group" class="ofisa__social-group">
      										<li class="ofisa__twiter-item"><a href="{{options.twitter}}" target="_blank"><i class="icon icon-twitter"></i></a></li>
      										<li class="ofisa__linkedin-item"><a href="{{options.linkedin}}" target="_blank"><i class="icon icon-linkedin"></i></a></li>
      									</ul>
      								</div><!-- /.#Header floating social icons -->
      							</div>
      							<!-- /.#Ofisa navigation logo col -->
      						</div><!-- /.#Ofisa header col wrapper row -->
      					</div>
      				</div>
                </header><!-- /.#Ofisa header -->