/* --------------------------------------------------------------------------------------- */

/* **************************** Importing Custom Font Families *************************** */

/* --------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v4fbnf');
  src:  url('../fonts/icomoon.eot?v4fbnf#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?v4fbnf') format('truetype'),
  url('../fonts/icomoon.woff?v4fbnf') format('woff'),
  url('../fonts/icomoon.svg?v4fbnf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-size: 1rem;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}